In [645]:
import pandas as pd
import numpy as np
from pathlib import Path

years = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [646]:
column_names = {}
longest = 0

# get column names for 2008 to 2023 table_A and table_B CSVs
for year in years:
  if year > 2008:
    dfA = pd.read_csv(f'output/table_A_{year}.csv')
    a_list = list(dfA.columns)
    column_names[f'{year}-A'] = a_list
    if len(a_list) > longest:
      longest = len(a_list)
  dfB = pd.read_csv(f'output/table_B_{year}.csv')
  b_list = list(dfB.columns)
  column_names[f'{year}-B'] = b_list
  if len(b_list) > longest:
      longest = len(b_list)

# table_A_car_pond_2013.csv and table_B_car_pond_2013.csv will have the same column names as the lake dataframes for 2013

print('longest', longest)
print(column_names)

longest 49

In [647]:
for key in column_names:
  if len(column_names[key]) < longest:
    for i in range(longest - len(column_names[key])):
      column_names[key].append('Blank')

In [648]:
# make them into a dataframe that can be exported as a CSV
col_name_df = pd.DataFrame.from_dict(column_names)
col_name_df

,2008-B,2009-A,2009-B,2010-A,2010-B,2011-A,2011-B,2012-A,2012-B,2013-A,...,2019-A,2019-B,2020-A,2020-B,2021-A,2021-B,2022-A,2022-B,2023-A,2023-B
0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,...,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0,Unnamed: 0
1,excel_id,Sample_Point_(SP),Sample_Point_(SP),Sample_Point_(SP),Sample_Point_(SP),Unnamed:_0,Sample_Point_(SP),Unnamed:_0,Sample_Point_(SP),Sample_Point_(SP),...,Sample_Point_(SP),Sample_Point_(SP),Sample_Point_(SP),Sample_Point_(SP),Sample_Point_(SP),Sample_Point_(SP),Date_2022,Sample_Point_(SP),Date_2023,Sample_Point_(SP)
2,date,Rake_toss_#,Latitude,Rake_toss_#,Latitude,Sample_Point_(SP),Latitude,Sample_Point_(SP),Latitude,Rake_toss_#,...,Rake_toss_#,Latitude,Rake_toss_#,Latitude,Rake_toss_#,Latitude,Sample_Point_(SP),Rake_Abundance,Sample_Point_(SP),Rake_Abundance
3,client_id,Latitude,Longitude,Latitude,Longitude,Rake_toss_#,Longitude,Rake_toss_#,Longitude,Latitude,...,Latitude,Longitude,Latitude,Longitude,Latitude,Longitude,Latitude,Ceratophyllum_demersum,Latitude,Ceratophyllum_demersum
4,Sample_Point_(SP),Longitude,Rake_Abundance,Longitude,Rake_Abundance,Latitude,Rake_Abundance,Latitude,Rake_Abundance,Longitude,...,Longitude,Rake_Abundance,Longitude,Rake_Abundance,Longitude,Rake_Abundance,Longitude,Chara_vulgaris,Longitude,Chara_vulgaris
5,Depth_(ft)_August_2008_-_Allied_Biological,Depth_(ft)_August_2008_-_Allied_Biological,Abundance_#,Depth_(m)_2009_-_Racine_J,Rake_Abundance_#,Longitude,Rake_Abundance_#,Longitude,Rake_Abundance_#,Depth_(m)_2009_-_Racine_J,...,Depth_(m)_2019_-_Racine_J,Rake_Abundance_#,Depth_(m)_2020_-_Racine_J,Rake_Abundance_#,Date_2021,Rake_Abundance_#,Depth_(m)_2022,Elodea_sp.,Depth_(m)_2023,Elodea_sp.
6,Latitude,Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson,Callitriche_hermaphroditica,Rake_Abundance,Ceratophyllum_demersum,Depth_(m)_2009_-_Racine_J,Ceratophyllum_demersum,Depth_(m)_2009_-_Racine_J,Ceratophyllum_demersum,Depth_(m)_2012_-_Racine_J,...,Rake_Abundance,Alisma_gramineum,Rake_Abundance,Alisma_gramineum,Depth_(m)_2021_-_Racine_J,Alisma_gramineum,Rake_Abundance,Fontinalis_sp.,Rake_Abundance,Fontinalis_sp.
7,Longitude,Depth_(m)_Aug-Sept._2009_-_Racine_Johnson,Ceratophyllum_demersum,Ceratophyllum_demersum,Chara_vulgaris,Rake_Abundance,Chara_vulgaris,Depth_(m)_2012_-_Racine_J,Chara_vulgaris,Depth_(m)_2013_-_Racine_J,...,Alisma_gramineum,Ceratophyllum_demersum,Alisma_gramineum,Ceratophyllum_demersum,Rake_Abundance,Ceratophyllum_demersum,Rake_toss_#,Heteranthera_dubia,Rake_toss_#,Heteranthera_dubia
8,Total_Submersed_Vegetation,Rake_Abundance,Chara_vulgaris,Chara_vulgaris,Elodea_sp.,Ceratophyllum_demersum,Elodea_sp.,Rake_Abundance,Elodea_sp.,Rake_Abundance,...,Ceratophyllum_demersum,Chara_vulgaris,Ceratophyllum_demersum,Chara_vulgaris,Alisma_gramineum,Chara_vulgaris,Ceratophyllum_demersum,Lemna_minor,Ceratophyllum_demersum,Hydrocharis_morsus-ranae
9,Total_Floating_Vegetation,Callitriche_hermaphroditica,Elodea_sp.,Elodea_sp.,Fontinalis_sp.,Chara_vulgaris,Fontinalis_sp.,Ceratophyllum_demersum,Fontinalis_sp.,Abundance_calcs,...,Chara_vulgaris,Elodea_sp.,Chara_vulgaris,Elodea_sp.,Ceratophyllum_demersum,Elodea_sp.,Elodea_sp.,Lemna_trisulca,Chara_vulgaris,Juncus_sp.
10,Callitriche_hermaphroditica,Ceratophyllum_demersum,Fontinalis_sp.,Fontinalis_sp.,Heteranthera_dubia,Elodea_sp.,Heteranthera_dubia,Chara_vulgaris,Heteranthera_dubia,Ceratophyllum_demersum,...,Elodea_sp.,Fontinalis_sp.,Elodea_sp.,Fontinalis_sp.,Chara_vulgaris,Fontinalis_sp.,Lemna_minor,Megalodonta_beckii,Elodea_sp.,Lemna_minor
11,Potamogeton_amplifolius,Chara_vulgaris,Heteranthera_dubia,Lemna_minor,Lemna_minor,Fontinalis_sp.,Lemna_minor,Elodea_sp.,Lemna_minor,Chara_vulgaris,...,Fontinalis_sp.,Heteranthera_dubia,Fontinalis_sp.,Heteranthera_dubia,Elodea_sp.,Heteranthera_dubia,Lemna_trisculca,Myriophyllum_sibiricum,Fontinalis_sp.,Lemna_trisculca
12,Benthic_Filamentous_Algae,Elodea_sp.,Hypericum_ellipticum,Lemna_trisulca,Lemna_trisulca,Lemna_minor,Lemna_trisulca,Fontinalis_sp.,Lemna_trisulca,Elodea_sp.,...,Heteranthera_dubia,Hydrocharis_morsus-ranae,Heteranthera_dubia,Hydrocharis_morsus-ranae,Fontinalis_sp.,Hydrocharis_morsus-ranae,Potamogeton_illinoensis,Myriophyllum_spicatum,Heteranthera_dubia,Ludwigia_sp.
13,Potamogeton_richardsonii,Fontinalis_sp.,Lemna_minor,Megalodonta_beckii,Megalodonta_beckii,Lemna_trisulca,Megalodonta_beckii,Lemna_minor,Megalodonta_beckii,Fontinalis_sp.,...,Hydrocharis_morsus-ranae,Lemna_minor,Hydrocharis_morsus-ranae,Lemna_minor,Heteranthera_dubia,Lemna_minor,Wolffia_columbiana,Najas_flexilis,Hydrocharis_morsus-ranae,Megalodonta_beckii
14,Utricularia_vulgaris,Lemna_minor,Lemna_trisulca,Myriophyllum_spicatum,Myriophyllum_spicatum,Megalodonta_beckii,Myriophyllum_sibiricum,Lemna_trisulca,Myriophyllum_sibiricum,Lemna_minor,...,Lemna_minor,Lemna_trisulca,Lemna_minor,Lemna_trisulca,Hydrocharis_morsus-ranae,Lemna_trisulca,Nitellopsis_obtusa,Najas_guadalupensis,Juncus_sp.,Myriophyllum_sibiricum
15,Elodea_sp.,Lemna_trisulca,Megalodonta_beckii,Najas_flexilis,Najas_flexilis,Myriophyllum_sibiricum,Myriophyllum_spicatum,Megalodonta_beckii,Myriophyllum_spicatum,Lemna_trisulca,...,Lemna_trisulca,Megalodonta_beckii,Lemna_trisulca,Megalodonta_beckii,Lemna_minor,Megalodonta_beckii,Potamogeton_zosteriformis,Nitella_flexilis,Lemna_minor,Myriophyllum_spicatum
16,Ceratophyllum_demersum,Megalodonta_beckii,Myriophyllum_sibiricum,Najas_guadalupensis,Najas_guadalupensis,Myriophyllum_spicatum,Najas_flexilis,Myriophyllum_sibiricum,Najas_flexilis,Megalodonta_beckii,...,Megalodonta_beckii,Myriophyllum_sibiricum,Megalodonta_beckii,Myriophyllum_sibiricum,Lemna_trisulca,Myriophyllum_spicatum,Stuckenia_pectinata,Nitellopsis_obtusa,Lemna_trisculca,Najas_flexilis
17,Potamogeton_crispus,Myriophyllum_sibiricum,Myriophyllum_spicatum,Nitella_flexilis,Nitella_flexilis,Najas_flexilis,Najas_guadalupensis,Myriophyllum_spicatum,Najas_guadalupensis,Myriophyllum_sibiricum,...,Myriophyllum_sibiricum,Myriophyllum_spicatum,Myriophyllum_sibiricum,Myriophyllum_spicatum,Megalodonta_beckii,Najas_flexilis,Utricularia_vulgaris,Nuphar_variegata,Ludwigia_sp.,Najas_guadalupensis
18,Myriophyllum_spicatum,Myriophyllum_spicatum,Najas_flexilis,Nitellopsis_obtusa,Nitellopsis_obtusa,Najas_guadalupensis,Nitella_flexilis,Najas_flexilis,Nitella_flexilis,Myriophyllum_spicatum,...,Myriophyllum_spicatum,Najas_flexilis,Myriophyllum_spicatum,Najas_flexilis,Myriophyllum_spicatum,Najas_guadalupensis,Vallisneria_americana,Nymphaea_odorata,Megalodonta_beckii,Nitella_flexilis
19,Potamogeton_zosteriformis,Najas_flexilis,Najas_guadalupensis,Nuphar_variegata,Nuphar_variegata,Nitella_flexilis,Nitellopsis_obtusa,Najas_guadalupensis,Nitellopsis_obtusa,Najas_flexilis,...,Najas_flexilis,Najas_guadalupensis,Najas_flexilis,Najas_guadalupensis,Najas_flexilis,Nitella_flexilis,Potamogeton_pusillus,Potamogeton_amplifolius,Myriophyllum_sibiricum,Nitellopsis_obtusa
20,Floating_Filamentous_Algae,Najas_guadalupensis,Nitella_flexilis,Nymphaea_odorata,Nymphaea_odorata,Nitellopsis_obtusa,Nuphar_variegata,Nitella_flexilis,Nuphar_variegata,Najas_guadalupensis,...,Najas_guadalupensis,Nitella_flexilis,Najas_guadalupensis,Nitella_flexilis,Najas_guadalupensis,Nitellopsis_obtusa,Myriophyllum_spicatum,Potamogeton_crispus_turions,Myriophyllum_spicatum,Nuphar_variegata
21,Lemna_trisulca,Nitella_flexilis,Nitellopsis_obtusa,Potamogeton_amplifolius,Potamogeton_amplifolius,Nuphar_variegata,Nymphaea_odorata,Nitellopsis_obtusa,Nymphaea_odorata,Nitella_flexilis,...,Nitella_flexilis,Nitellopsis_obtusa,Nitella_flexilis,Nitellopsis_obtusa,Nitella_flexilis,Nuphar_variegata,Potamogeton_praelongus,Potamogeton_crispus,Najas_flexilis,Nymphaea_odorata
22,Spirodela_polyrhiza,Nitellopsis_obtusa,Nuphar_variegata,Potamogeton_crispus,Potamogeton_crispus,Nymphaea_odorata,Potamogeton_amplifolius,Nuphar_variegata,Potamogeton_amplifolius,Nitellopsis_obtusa,...,Nitellopsis_obtusa,Nuphar_variegata,Nitellopsis_obtusa,Nuphar_variegata,Nitellopsis_obtusa,Nymphaea_odorata,Heteranthera_dubia,Potamogeton_foliosus,Najas_guadalupensis,Potamogeton_amplifolius
23,Potamogeton_illinoensis,Nuphar_variegata,Nymphaea_odorata,Potamogeton_foliosus,Potamogeton_foliosus,Potamogeton_amplifolius,Potamogeton_crispus,Nymphaea_odorata,Potamogeton_crispus,Nuphar_variegata,...,Nuphar_variegata,Nymphaea_odorata,Nuphar_variegata,Nymphaea_odorata,Nuphar_variegata,Potamogeton_amplifolius,Chara_vulgaris,Potamogeton_gramineus,Nitella_flexilis,Potamogeton_crispus
24,Potamogeton_foliosus,Nymphaea_odorata,Polygonam_amphibium,Potamogeton_gramineus,Potamogeton_gramineus,Potamogeton_crispus,Potamogeton_foliosus,Potamogeton_amplifolius,Potamogeton_foliosus,Nymphaea_odorata,...,Nymphaea_odorata,Potamogeton_amplifolius,Nymphaea_odorata,Potamogeton_amplifolius,Nymphaea_odorata,Potamogeton_crispus,Potamogeton_amplifolius,Potamogeton_illinoensis,Nitellopsis_obtusa,Potamogeton_crispus_turions
25,Chara_vulgaris,Potamogeton_amplifolius,Potamogeton_amplifolius,Potamogeton_illinoensis,Potamogeton_illinoensis,Potamogeton_foliosus,Potamogeton_gramineus,Potamogeton_crispus,Potamogeton_gramineus,Potamogeton_amplifolius,...,Potamogeton_amplifolius,Potamogeton_crispus,Potamogeton_amplifolius,Potamogeton_crispus,Potamogeton_amplifolius,Potamogeton_foliosus,Ranunculus_trichophyllus,Potamogeton_praelongus,Nuphar_variegata,Potamogeton_foliosus
26,Potamogeton_pectinatus,Potamogeton_crispus,Potamogeton_crispus,Potamogeton_praelongus,Potamogeton_praelongus,Potamogeton_gramineus,Potamogeton_illinoensis,Potamogeton_foliosus,Potamogeton_illinoensis,Potamogeton_crispus,...,Potamogeton_crispus,Potamogeton_foliosus,Potamogeton_crispus,Potamogeton_foliosus,Potamogeton_crispus,Potamogeton_gramineus,Nuphar_variegata,Potamogeton_pusillus,Nymphaea_odorata,Potamogeton_gramineus
27,Najas_flexilis,Potamogeton_foliosus,Potamogeton_foliosus,Potamogeton_pusillus,Potamogeton_pusillus,Potamogeton_illinoensis,Potamogeton_praelongus,Potamogeton_gramineus,Potamogeton_praelongus,Potamogeton_foliosus,...,Potamogeton_foliosus,Potamogeton_gramineus,Potamogeton_foliosus,Potamogeton_gramineus,Potamogeton_foliosus,Potamogeton_illinoensis,Potamogeton_crispus_turions,Potamogeton_richardsonii,Potamogeton_amplifolius,Potamogeton_illinoensis
28,Lemna_minor,Potamogeton_gramineus,Potamogeton_gramineus,Potamogeton_richardsonii,Potamogeton_richardsonii,Potamogeton_praelongus,Potamogeton_pusillus,Potamogeton_illinoensis,Potamogeton_pusillus,Potamogeton_gramineus,...,Potamogeton_gramineus,Potamogeton_illinoensis,Potamogeton_gramineus,Potamogeton_illinoensis,Potamogeton_gramineus,Potamogeton_praelongus,Potamogeton_crispus,Potamogeton_zosteriformis,Potamogeton_crispus,Potamogeton_praelongus
29,Nuphar_variegata,Potamogeton_illinoensis,Potamogeton_illinoensis,Potamogeton_zosteriformis,Potamogeton__zosteriformis,Potamogeton_pusillus,Potamogeton_richardsonii,Potamogeton_praelongus,Potamogeton_richardsonii,Potamogeton_illinoensis,...,Potamogeton_illinoensis,Potamogeton_praelongus,Potamogeton_illinoensis,Potamogeton_praelongus,Potamogeton_illinoensis,Potamogeton_pusillus,Fontinalis_sp.,Ranunculus_trichophyllus,Potamogeton_crispus_turions,Potamogeton_pusillus
30,Vallisneria_americana,Potamogeton_praelongus,Potamogeton_praelongus,Ranunculus_trichophyllus,Ranunculus_trichophyllus,Potamogeton_richardsonii,Potamogeton__zosteriformis,Potamogeton_pusillus,Potamogeton__zosteriformis,Potamogeton_praelongus,...,Potamogeton_praelongus,Potamogeton_pusillus,Potamogeton_praelongus,Potamogeton_pusillus,Potamogeton_praelongus,Potamogeton_richardsonii,Potamogeton_foliosus,Stuckenia_pectinata,Potamogeton_foliosus,Potamogeton_richardsonii
31,Potamogeton_gramineus,Potamogeton_pusillus,Potamogeton_pusillus,Spirodela_polyrhiza,Spirodela_polyrhiza,Potamogeton_zosteriformis,Ranunculus_trichophyllus,Potamogeton_richardsonii,Ranunculus_trichophyllus,Potamogeton_pusillus,...,Potamogeton_pusillus,Potamogeton_richardsonii,Potamogeton_pusillus,Potamogeton_richardsonii,Potamogeton_pusillus,Potamogeton_zosteriformis,Najas_guadalupensis,Stuckenia_vaginata,Potamogeton_gramineus,Potamogeton_zosteriformis
32,Potamogeton_praelongus,Potamogeton_richardsonii,Potamogeton_richardsonii,Stuckenia_pectinata,Stuckenia_pectinata,Ranunculus_trichophyllus,Spirodela_polyrhiza,Potamogeton_zosteriformis,Spirodela_polyrhiza,Potamogeton_richardsonii,...,Potamogeton_richardsonii,Potamogeton_zosteriformis,Potamogeton_richardsonii,Potamogeton_zosteriformis,Potamogeton_richardsonii,Ranunculus_trichophyllus,Najas_flexilis,Utricularia_vulgaris,Potamogeton_illinoensis,Ranunculus_trichophyllus
33,Megalodonta_beckii,Potamogeton_zosteriformis,Potamogeton_zosteriformis,Stuckenia_vaginata,Stuckenia_vaginata,Spirodela_polyrhiza,Stuckenia_pectinata,Ranunculus_trichophyllus,Stuckenia_pectinata,Potamogeton_zosteriformis,...,Potamogeton_zosteriformis,Ranunculus_trichophyllus,Potamogeton_zosteriformis,Ranunculus_trichophyllus,Potamogeton_zosteriformis,Spirodela_polyrhiza,Potamogeton_gramineus,Vallisneria_americana,Potamogeton_praelongus,Spirodela_polyrhiza
34,Wolffia_columbiana,Ranunculus_trichophyllus,Ranunculus_trichophyllus,Utricularia_vulgaris,Utricularia_vulgaris,Stuckenia_pectinata,Stuckenia_vaginata,Spirodela_polyrhiza,Stuckenia_vaginata,Ranunculus_trichophyllus,...,Ranunculus_trichophyllus,Spirodela_polyrhiza,Ranunculus_trichophyllus,Riccia_fluitans,Ranunculus_trichophyllus,Stuckenia_pectinata,Megalodonta_beckii,Wolffia_columbiana,Potamogeton_pusillus,Stuckenia_pectinata
35,Fontinalis_sp.,Spirodela_polyrhiza,Spirodela_polyrhiza,Vallisneria_americana,Vallisneria_americana,Stuckenia_vaginata,Utricularia_vulgaris,Stuckenia_pectinata,Utricularia_vulgaris,Spirodela_polyrhiza,...,Spirodela_polyrhiza,Stuckenia_pectinata,Riccia_fluitans,Spirodela_polyrhiza,Spirodela_polyrhiza,Utricularia_sp.,Nymphaea_odorata,Pithophora_sp.,Potamogeton_richardsonii,Utricularia_vulgaris
36,Heteranthera_dubia,Stuckenia_pectinata,Stuckenia_pectinata,Wolffia_columbiana,Wolffia_columbiana,Utricularia_vulgaris,Vallisneria_americana,Stuckenia_vaginata,Vallisneria_americana,Stuckenia_pectinata,...,Stuckenia_pectinata,Utricularia_vulgaris,Spirodela_polyrhiza,Stuckenia_pectinata,Stuckenia_pectinata,Vallisneria_americana,Nitella_flexilis,Blank,Potamogeton_zosteriformis,Vallisneria_americana
37,Ranunculus_trichophyllus,Stuckenia_vaginata,Stuckenia_vaginata,Zosterella_dubia,Pithaphora_sp.,Vallisneria_americana,Wolffia_columbiana,Utricularia_vulgaris,Wolffia_columbiana,Stuckenia_vaginata,...,Utricularia_vulgaris,Vallisneria_americana,Stuckenia_pectinata,Utricularia_vulgaris,Utricularia_vulgaris,Wolffia_columbiana,Myriophyllum_sibiricum,Blank,Ranunculus_trichophyllus,Wolffia_columbiana
38,Nymphaea_odorata,Utricularia_vulgaris,Utricularia_vulgaris,Benthic_Filamentous_Algae,Blank,Wolffia_columbiana,Pithaphora_sp.,Vallisneria_americana,Pithaphora_sp.,Utricularia_vulgaris,...,Vallisneria_americana,Wolffia_columbiana,Utricularia_vulgaris,Vallisneria_americana,Vallisneria_americana,Pithophora_sp.,Potamogeton_richardsonii,Blank,Spirodela_polyrhiza,Pithophora_sp.
39,Blank,Vallisneria_americana,Vallisneria_americana,Blank,Blank,Zosterella_dubia,Floating_Filamentous_Algae,Wolffia_columbiana,Floating_Filamentous_Algae,Vallisneria_americana,...,Wolffia_columbiana,Pithophora_sp.,Vallisneria_americana,Wolffia_columbiana,Wolffia_columbiana,Blank,Stuckenia_vaginata,Blank,Stuckenia_pectinata,Blank
40,Blank,Wolffia_columbiana,Wolffia_columbiana,Blank,Blank,Benthic_Filamentous_Algae,Blank,Zosterella_dubia,Blank,Wolffia_columbiana,...,Pithophora_sp.,Blank,Wolffia_columbiana,Pithophora_sp.,Pithophora_sp.,Blank,Pithophora_sp.,Blank,Utricularia_vulgaris,Blank
41,Blank,Zosterella_dubia,Pithaphora_sp.,Blank,Blank,Floating_Filamentous_Algae,Blank,Benthic_Filamentous_Algae,Blank,Zosterella_dubia,...,PERCENT,Blank,Pithophora_sp.,Blank,PERCENT,Blank,Blank,Blank,Vallisneria_americana,Blank
42,Blank,Hypericum_ellipticum,Blank,Blank,Blank,%_total,Blank,Floating_Filamentous_Algae,Blank,Benthic_Filamentous_Algae,...,Unnamed:_41,Blank,PERCENT,Blank,Unnamed:_41,Blank,Blank,Blank,Wolffia_columbiana,Blank
43,Blank,Benthic_Filamentous_Algae,Blank,Blank,Blank,Unnamed:_42,Blank,Unnamed:_42,Blank,Floating_Filamentous_Algae,...,Unnamed:_42,Blank,Unnamed:_42,Blank,Unnamed:_42,Blank,Blank,Blank,Pithophora_sp.,Blank
44,Blank,Unnamed:_43,Blank,Blank,Blank,Unnamed:_43,Blank,Unnamed:_43,Blank,Blank,...,Blank,Blank,Unnamed:_43,Blank,Blank,Blank,Blank,Blank,Blank,Blank
45,Blank,Polygonam_amphibium,Blank,Blank,Blank,_,Blank,Blank,Blank,Blank,...,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank
46,Blank,Total_%,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,...,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank
47,Blank,Unnamed:_46,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,...,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank
48,Blank,Floating_Filamentous_Algae,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,...,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank,Blank

In [649]:
col_name_df.to_csv('output/ALL_COLUMN_NAMES.csv')

### To Do:
1. make a dataframe out of each csv (each year tables A & B)

2. add a column to each of those dataframes for "year" and fill all fields in it with that dataframe's year

4. use nested loops to compare column names between all A dataframes each to each once only, and add any "missing" columns, even if i don't want to keep them, with null value

5. do the same with all B dataframes

6. join all A dataframes into one, join all B dataframes into one

7. determine whih columns to delete (with their contents) the big dataframes

8. do i want to join the two dataframes, or create a database to load them into first? 
    - each dataframe needs to keep its year, but the samples can be listed two ways - abundance and percent

    - add columns for native and invasive (two separate booleans) and label each plant
    
    - record specific date (in addition to year) in cases where we have that data. maybe a range of days if we don't? some years have a column 'date' with the specific date, others have several dates listed at the top that i'd have to check

In [650]:
# work towards desired results with smaller dataframes
test_years = [2000, 2001, 2002, 2003]
df2000 = pd.DataFrame({'colors': ['red', 'orange', 'yellow'], 'numbers': [21, 43, 32], 'languages': ['english', 'french', 'spanish']})
df2001 = pd.DataFrame({'colors': ['green', 'blue', 'purple'], 'numbers': [11, 22, 54], 'animals': ['dog', 'cat', 'rabbit']})
df2002 = pd.DataFrame({'colors': ['white', 'pink', 'teal'], 'coding_languages': ['javascript', 'python', 'sql']})
df2002 = pd.DataFrame({'colors': ['black', 'brown', 'tan'], 'platforms': ['mac', 'linux', 'windows'], 'frameworks': ['django', 'react', 'vue'], 'cities': ['syracuse', 'buffalo', 'concord'], 'numbers': [44, 33, 55]})
df2003 = pd.DataFrame({'colors': ['gray', 'coral', 'navy'], 'instruments': ['guitar', 'piano', 'drums']})
all_test_years = {2000: df2000, 2001: df2001, 2002: df2002, 2003: df2003}

for i, year in enumerate(test_years):
  # flip through anchor years
  year + i
  a_list = list(all_test_years[year].columns)
  for col_name in a_list:
    # year is the same as annees[i]
    years_to_search = [yr for yr in test_years if yr != year]
    # print(year, 'years_to_search', years_to_search)
    # make new annees list without the current year
    for search_year in years_to_search:
      # flip through all the non-anchor years
      if col_name not in list(all_test_years[search_year].columns):
        print(i, year, f'{col_name} not in {search_year}')
        all_test_years[search_year][col_name] = None

0 2000 numbers not in 2003
0 2000 languages not in 2001
0 2000 languages not in 2002
0 2000 languages not in 2003
1 2001 animals not in 2000
1 2001 animals not in 2002
1 2001 animals not in 2003
2 2002 platforms not in 2000
2 2002 platforms not in 2001
2 2002 platforms not in 2003
2 2002 frameworks not in 2000
2 2002 frameworks not in 2001
2 2002 frameworks not in 2003
2 2002 cities not in 2000
2 2002 cities not in 2001
2 2002 cities not in 2003
3 2003 instruments not in 2000
3 2003 instruments not in 2001
3 2003 instruments not in 2002

In [651]:
all_test_years[2000]

   colors  numbers languages animals platforms frameworks cities instruments
0     red       21   english    None      None       None   None        None
1  orange       43    french    None      None       None   None        None
2  yellow       32   spanish    None      None       None   None        None

In [652]:
all_test_years[2001]

   colors  numbers animals languages platforms frameworks cities instruments
0   green       11     dog      None      None       None   None        None
1    blue       22     cat      None      None       None   None        None
2  purple       54  rabbit      None      None       None   None        None

In [653]:
all_test_years[2002]

  colors platforms frameworks    cities  numbers languages animals instruments
0  black       mac     django  syracuse       44      None    None        None
1  brown     linux      react   buffalo       33      None    None        None
2    tan   windows        vue   concord       55      None    None        None

In [654]:
all_test_years[2003]

  colors instruments numbers languages animals platforms frameworks cities
0   gray      guitar    None      None    None      None       None   None
1  coral       piano    None      None    None      None       None   None
2   navy       drums    None      None    None      None       None   None

In [655]:
# create table a dataframes
table_a_years = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
all_a_dfs = {}

for year in table_a_years:
    df = pd.read_csv(f'output/table_A_{year}.csv')
    df['Year'] = year
    all_a_dfs[year] = df
all_a_dfs[2009].head()

,Unnamed: 0,Sample_Point_(SP),Rake_toss_#,Latitude,Longitude,Depth_(ft)_August_2008_-_Allied_Biological,Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson,Depth_(m)_Aug-Sept._2009_-_Racine_Johnson,Rake_Abundance,Callitriche_hermaphroditica,...,Wolffia_columbiana,Zosterella_dubia,Hypericum_ellipticum,Benthic_Filamentous_Algae,Unnamed:_43,Polygonam_amphibium,Total_%,Unnamed:_46,Floating_Filamentous_Algae,Year
0,0,1,1,42.977680,75.886960,1.0,0.984252,0.3,D,1.0,...,0.01,NaN,NaN,1.0,NaN,NaN,100.05,NaN,NaN,2009
1,1,1,2,42.977680,75.886960,NaN,NaN,NaN,D,1.0,...,1.00,1.0,NaN,1.0,NaN,1.0,100.01,NaN,0.01,2009
2,3,2,1,42.977520,75.887213,1.0,1.640420,0.5,D,NaN,...,0.01,NaN,NaN,8.0,NaN,NaN,100.08,NaN,2,2009
3,4,2,2,42.977520,75.887213,NaN,NaN,NaN,D,NaN,...,0.01,1.0,NaN,12.0,NaN,NaN,100.04,NaN,2,2009
4,6,3,1,42.977661,75.887699,2.0,3.280840,1.0,M,NaN,...,0.01,NaN,NaN,5.0,NaN,NaN,100.03,NaN,NaN,2009

In [656]:
all_a_dfs[2009].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Rake_toss_#', 'Latitude',
       'Longitude', 'Depth_(ft)_August_2008_-_Allied_Biological',
       'Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson',
       'Depth_(m)_Aug-Sept._2009_-_Racine_Johnson', 'Rake_Abundance',
       'Callitriche_hermaphroditica', 'Ceratophyllum_demersum',
       'Chara_vulgaris', 'Elodea_sp.', 'Fontinalis_sp.', 'Lemna_minor',
       'Lemna_trisulca', 'Megalodonta_beckii', 'Myriophyllum_sibiricum',
       'Myriophyllum_spicatum', 'Najas_flexilis', 'Najas_guadalupensis',
       'Nitella_flexilis', 'Nitellopsis_obtusa', 'Nuphar_variegata',
       'Nymphaea_odorata', 'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Stuckenia_vaginata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Wolffia_columbiana',
       'Zosterella_dubia', 'Hypericum_ellipticum', 'Benthic_Filamentous_Algae',
       'Unnamed:_43', 'Polygonam_amphibium', 'Total_%', 'Unnamed:_46',
       'Floating_Filamentous_Algae', 'Year'],
      dtype='object')

In [657]:
all_a_dfs[2009] = all_a_dfs[2009].rename(columns={'Total_%': 'PERCENT'})
all_a_dfs[2009].PERCENT

0      100.05
1      100.01
2      100.08
3      100.04
4      100.03
        ...
603    100.00
604    100.00
605    100.00
606    100.00
607    100.00
Name: PERCENT, Length: 608, dtype: float64

In [658]:
all_a_dfs[2011] = all_a_dfs[2011].rename(columns={'%_total': 'PERCENT'})
all_a_dfs[2011].PERCENT

0      100
1      100
2      100
3      100
4      100
      ...
603    100
604    100
605    100
606    100
607    100
Name: PERCENT, Length: 608, dtype: int64

In [659]:
# Create and additional 'Depth' column using the following in each year:
# 2008: IN B DATABASE generated a `Depth_(m)_August_2008_-_Allied_Biological` column to use 
# 2009: use `Depth_(m)_Aug-Sept._2009_-_Racine_Johnson`
all_a_dfs[2009]['Depth'] = all_a_dfs[2009]['Depth_(m)_Aug-Sept._2009_-_Racine_Johnson']
# 2010 & 2011: no fields for these years, leave blank & cross reference 2009
all_a_dfs[2010]['Depth'] = None
all_a_dfs[2011]['Depth'] = None
# 2012 - 2021: use `Depth_(m)_YEAR_-_Racine_J` replacing `YEAR` with the actual year
for year in range(2012,2022):
  # 2013 has a column but it's blank, and it also has the 2009 & 2012 columns
  if year == 2013:
    all_a_dfs[year]['Depth'] = None
  else:
    all_a_dfs[year]['Depth'] = all_a_dfs[year][f'Depth_(m)_{year}_-_Racine_J']
# 2022: use `Depth_(m)_2022`
all_a_dfs[2022]['Depth'] = all_a_dfs[2022]['Depth_(m)_2022']
# 2023: use `Depth_(m)_2023`
all_a_dfs[2023]['Depth'] = all_a_dfs[2023]['Depth_(m)_2023']

In [660]:
# create additional generic Date column for years that have one
for year in range(2021,2024):
  all_a_dfs[year]['Date'] = all_a_dfs[year][f'Date_{year}']

In [661]:
all_a_dfs[2022] = all_a_dfs[2022].rename(columns={'Lemna_trisculca': 'Lemna_trisulca'})
all_a_dfs[2022] = all_a_dfs[2022].rename(columns={'Nitellopsis_obstusa': 'Nitellopsis_obtusa'})
all_a_dfs[2022].columns

Index(['Unnamed: 0', 'Date_2022', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Depth_(m)_2022', 'Rake_Abundance', 'Rake_toss_#',
       'Ceratophyllum_demersum', 'Elodea_sp.', 'Lemna_minor', 'Lemna_trisulca',
       'Potamogeton_illinoensis', 'Wolffia_columbiana', 'Nitellopsis_obtusa',
       'Potamogeton_zosteriformis', 'Stuckenia_pectinata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Potamogeton_pusillus',
       'Myriophyllum_spicatum', 'Potamogeton_praelongus', 'Heteranthera_dubia',
       'Chara_vulgaris', 'Potamogeton_amplifolius', 'Ranunculus_trichophyllus',
       'Nuphar_variegata', 'Potamogeton_crispus_turions',
       'Potamogeton_crispus', 'Fontinalis_sp.', 'Potamogeton_foliosus',
       'Najas_guadalupensis', 'Najas_flexilis', 'Potamogeton_gramineus',
       'Megalodonta_beckii', 'Nymphaea_odorata', 'Nitella_flexilis',
       'Myriophyllum_sibiricum', 'Potamogeton_richardsonii',
       'Stuckenia_vaginata', 'Pithophora_sp.', 'Year', 'Depth', 'Date'],
      dtype='object')

In [662]:
all_a_dfs[2023] = all_a_dfs[2023].rename(columns={'Lemna_trisculca': 'Lemna_trisulca'})
all_a_dfs[2023] = all_a_dfs[2023].rename(columns={'Nitellopsis_obstusa': 'Nitellopsis_obtusa'})
# all_a_dfs[2023] = all_a_dfs[2023].rename(columns={'Potamogeton_crispus_-_turion': 'Potamogeton_crispus_-_turions'})
all_a_dfs[2023].columns

Index(['Unnamed: 0', 'Date_2023', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Depth_(m)_2023', 'Rake_Abundance', 'Rake_toss_#',
       'Ceratophyllum_demersum', 'Chara_vulgaris', 'Elodea_sp.',
       'Fontinalis_sp.', 'Heteranthera_dubia', 'Hydrocharis_morsus-ranae',
       'Juncus_sp.', 'Lemna_minor', 'Lemna_trisulca', 'Ludwigia_sp.',
       'Megalodonta_beckii', 'Myriophyllum_sibiricum', 'Myriophyllum_spicatum',
       'Najas_flexilis', 'Najas_guadalupensis', 'Nitella_flexilis',
       'Nitellopsis_obtusa', 'Nuphar_variegata', 'Nymphaea_odorata',
       'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_crispus_turions', 'Potamogeton_foliosus',
       'Potamogeton_gramineus', 'Potamogeton_illinoensis',
       'Potamogeton_praelongus', 'Potamogeton_pusillus',
       'Potamogeton_richardsonii', 'Potamogeton_zosteriformis',
       'Ranunculus_trichophyllus', 'Spirodela_polyrhiza',
       'Stuckenia_pectinata', 'Utricularia_vulgaris', 'Vallisneria_americana',
       'Wolffia_columbiana', 'Pithophora_sp.', 'Year', 'Depth', 'Date'],
      dtype='object')

In [663]:
all_a_dfs[2009] = all_a_dfs[2009].rename(columns={'Polygonam_amphibium': 'Polygonum_amphibium'})
all_a_dfs[2009] = all_a_dfs[2009].rename(columns={'Pithaphora_sp.': 'Pithophora_sp.'})
all_a_dfs[2009] = all_a_dfs[2009].rename(columns={'Nitellopsis_obstusa': 'Nitellopsis_obtusa'})
all_a_dfs[2009].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Rake_toss_#', 'Latitude',
       'Longitude', 'Depth_(ft)_August_2008_-_Allied_Biological',
       'Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson',
       'Depth_(m)_Aug-Sept._2009_-_Racine_Johnson', 'Rake_Abundance',
       'Callitriche_hermaphroditica', 'Ceratophyllum_demersum',
       'Chara_vulgaris', 'Elodea_sp.', 'Fontinalis_sp.', 'Lemna_minor',
       'Lemna_trisulca', 'Megalodonta_beckii', 'Myriophyllum_sibiricum',
       'Myriophyllum_spicatum', 'Najas_flexilis', 'Najas_guadalupensis',
       'Nitella_flexilis', 'Nitellopsis_obtusa', 'Nuphar_variegata',
       'Nymphaea_odorata', 'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Stuckenia_vaginata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Wolffia_columbiana',
       'Zosterella_dubia', 'Hypericum_ellipticum', 'Benthic_Filamentous_Algae',
       'Unnamed:_43', 'Polygonum_amphibium', 'PERCENT', 'Unnamed:_46',
       'Floating_Filamentous_Algae', 'Year', 'Depth'],
      dtype='object')

In [664]:
for i, year in enumerate(table_a_years):
  # flip through anchor years
  year + i
  a_list = list(all_a_dfs[year].columns)
  for col_name in a_list:
    # year is the same as table_a_years[i]
    years_to_search = [yr for yr in table_a_years if yr != year]
    # print(year, 'years_to_search', years_to_search)
    # make new years list without the current year
    for search_year in years_to_search:
      # flip through all the non-anchor years
      if col_name not in list(all_a_dfs[search_year].columns):
        print(i, year, f'{col_name} not in {search_year}')
        all_a_dfs[search_year][col_name] = None

0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2010
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2011
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2012
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2013
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2014
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2015
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2016
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2017
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2018
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2019
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2020
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2021
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2022
0 2009 Depth_(ft)_August_2008_-_Allied_Biological not in 2023
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2010
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2011
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2012
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2013
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2014
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2015
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2016
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2017
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2018
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2019
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2020
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2021
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2022
0 2009 Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson not in 2023
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2010
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2011
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2012
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2013
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2014
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2015
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2016
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2017
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2018
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2019
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2020
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2021
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2022
0 2009 Depth_(m)_Aug-Sept._2009_-_Racine_Johnson not in 2023
0 2009 Callitriche_hermaphroditica not in 2010
0 2009 Callitriche_hermaphroditica not in 2011
0 2009 Callitriche_hermaphroditica not in 2012
0 2009 Callitriche_hermaphroditica not in 2013
0 2009 Callitriche_hermaphroditica not in 2014
0 2009 Callitriche_hermaphroditica not in 2015
0 2009 Callitriche_hermaphroditica not in 2016
0 2009 Callitriche_hermaphroditica not in 2017
0 2009 Callitriche_hermaphroditica not in 2018
0 2009 Callitriche_hermaphroditica not in 2019
0 2009 Callitriche_hermaphroditica not in 2020
0 2009 Callitriche_hermaphroditica not in 2021
0 2009 Callitriche_hermaphroditica not in 2022
0 2009 Callitriche_hermaphroditica not in 2023
0 2009 Myriophyllum_sibiricum not in 2010
0 2009 Myriophyllum_sibiricum not in 2017
0 2009 Myriophyllum_sibiricum not in 2021
0 2009 Potamogeton_richardsonii not in 2018
0 2009 Spirodela_polyrhiza not in 2022
0 2009 Stuckenia_vaginata not in 2017
0 2009 Stuckenia_vaginata not in 2018
0 2009 Stuckenia_vaginata not in 2019
0 2009 Stuckenia_vaginata not in 2020
0 2009 Stuckenia_vaginata not in 2021
0 2009 Stuckenia_vaginata not in 2023
0 2009 Zosterella_dubia not in 2014
0 2009 Zosterella_dubia not in 2015
0 2009 Zosterella_dubia not in 2016
0 2009 Zosterella_dubia not in 2017
0 2009 Zosterella_dubia not in 2018
0 2009 Zosterella_dubia not in 2019
0 2009 Zosterella_dubia not in 2020
0 2009 Zosterella_dubia not in 2021
0 2009 Zosterella_dubia not in 2022
0 2009 Zosterella_dubia not in 2023
0 2009 Hypericum_ellipticum not in 2010
0 2009 Hypericum_ellipticum not in 2011
0 2009 Hypericum_ellipticum not in 2012
0 2009 Hypericum_ellipticum not in 2013
0 2009 Hypericum_ellipticum not in 2014
0 2009 Hypericum_ellipticum not in 2015
0 2009 Hypericum_ellipticum not in 2016
0 2009 Hypericum_ellipticum not in 2017
0 2009 Hypericum_ellipticum not in 2018
0 2009 Hypericum_ellipticum not in 2019
0 2009 Hypericum_ellipticum not in 2020
0 2009 Hypericum_ellipticum not in 2021
0 2009 Hypericum_ellipticum not in 2022
0 2009 Hypericum_ellipticum not in 2023
0 2009 Benthic_Filamentous_Algae not in 2014
0 2009 Benthic_Filamentous_Algae not in 2015
0 2009 Benthic_Filamentous_Algae not in 2016
0 2009 Benthic_Filamentous_Algae not in 2017
0 2009 Benthic_Filamentous_Algae not in 2018
0 2009 Benthic_Filamentous_Algae not in 2019
0 2009 Benthic_Filamentous_Algae not in 2020
0 2009 Benthic_Filamentous_Algae not in 2021
0 2009 Benthic_Filamentous_Algae not in 2022
0 2009 Benthic_Filamentous_Algae not in 2023
0 2009 Unnamed:_43 not in 2010
0 2009 Unnamed:_43 not in 2013
0 2009 Unnamed:_43 not in 2014
0 2009 Unnamed:_43 not in 2016
0 2009 Unnamed:_43 not in 2017
0 2009 Unnamed:_43 not in 2018
0 2009 Unnamed:_43 not in 2019
0 2009 Unnamed:_43 not in 2021
0 2009 Unnamed:_43 not in 2022
0 2009 Unnamed:_43 not in 2023
0 2009 Polygonum_amphibium not in 2010
0 2009 Polygonum_amphibium not in 2011
0 2009 Polygonum_amphibium not in 2012
0 2009 Polygonum_amphibium not in 2013
0 2009 Polygonum_amphibium not in 2014
0 2009 Polygonum_amphibium not in 2019
0 2009 Polygonum_amphibium not in 2020
0 2009 Polygonum_amphibium not in 2021
0 2009 Polygonum_amphibium not in 2022
0 2009 Polygonum_amphibium not in 2023
0 2009 PERCENT not in 2010
0 2009 PERCENT not in 2012
0 2009 PERCENT not in 2013
0 2009 PERCENT not in 2014
0 2009 PERCENT not in 2015
0 2009 PERCENT not in 2022
0 2009 PERCENT not in 2023
0 2009 Unnamed:_46 not in 2010
0 2009 Unnamed:_46 not in 2011
0 2009 Unnamed:_46 not in 2012
0 2009 Unnamed:_46 not in 2013
0 2009 Unnamed:_46 not in 2014
0 2009 Unnamed:_46 not in 2015
0 2009 Unnamed:_46 not in 2016
0 2009 Unnamed:_46 not in 2017
0 2009 Unnamed:_46 not in 2018
0 2009 Unnamed:_46 not in 2019
0 2009 Unnamed:_46 not in 2020
0 2009 Unnamed:_46 not in 2021
0 2009 Unnamed:_46 not in 2022
0 2009 Unnamed:_46 not in 2023
0 2009 Floating_Filamentous_Algae not in 2010
0 2009 Floating_Filamentous_Algae not in 2014
0 2009 Floating_Filamentous_Algae not in 2015
0 2009 Floating_Filamentous_Algae not in 2016
0 2009 Floating_Filamentous_Algae not in 2017
0 2009 Floating_Filamentous_Algae not in 2018
0 2009 Floating_Filamentous_Algae not in 2019
0 2009 Floating_Filamentous_Algae not in 2020
0 2009 Floating_Filamentous_Algae not in 2021
0 2009 Floating_Filamentous_Algae not in 2022
0 2009 Floating_Filamentous_Algae not in 2023
1 2010 Depth_(m)_2009_-_Racine_J not in 2009
1 2010 Depth_(m)_2009_-_Racine_J not in 2014
1 2010 Depth_(m)_2009_-_Racine_J not in 2015
1 2010 Depth_(m)_2009_-_Racine_J not in 2016
1 2010 Depth_(m)_2009_-_Racine_J not in 2017
1 2010 Depth_(m)_2009_-_Racine_J not in 2018
1 2010 Depth_(m)_2009_-_Racine_J not in 2019
1 2010 Depth_(m)_2009_-_Racine_J not in 2020
1 2010 Depth_(m)_2009_-_Racine_J not in 2021
1 2010 Depth_(m)_2009_-_Racine_J not in 2022
1 2010 Depth_(m)_2009_-_Racine_J not in 2023
2 2011 Unnamed:_0 not in 2009
2 2011 Unnamed:_0 not in 2010
2 2011 Unnamed:_0 not in 2013
2 2011 Unnamed:_0 not in 2014
2 2011 Unnamed:_0 not in 2015
2 2011 Unnamed:_0 not in 2016
2 2011 Unnamed:_0 not in 2017
2 2011 Unnamed:_0 not in 2018
2 2011 Unnamed:_0 not in 2019
2 2011 Unnamed:_0 not in 2020
2 2011 Unnamed:_0 not in 2021
2 2011 Unnamed:_0 not in 2022
2 2011 Unnamed:_0 not in 2023
2 2011 Unnamed:_42 not in 2009
2 2011 Unnamed:_42 not in 2010
2 2011 Unnamed:_42 not in 2013
2 2011 Unnamed:_42 not in 2014
2 2011 Unnamed:_42 not in 2015
2 2011 Unnamed:_42 not in 2016
2 2011 Unnamed:_42 not in 2017
2 2011 Unnamed:_42 not in 2022
2 2011 Unnamed:_42 not in 2023
2 2011 _ not in 2009
2 2011 _ not in 2010
2 2011 _ not in 2012
2 2011 _ not in 2013
2 2011 _ not in 2014
2 2011 _ not in 2016
2 2011 _ not in 2017
2 2011 _ not in 2018
2 2011 _ not in 2019
2 2011 _ not in 2020
2 2011 _ not in 2021
2 2011 _ not in 2022
2 2011 _ not in 2023
3 2012 Depth_(m)_2012_-_Racine_J not in 2009
3 2012 Depth_(m)_2012_-_Racine_J not in 2010
3 2012 Depth_(m)_2012_-_Racine_J not in 2011
3 2012 Depth_(m)_2012_-_Racine_J not in 2014
3 2012 Depth_(m)_2012_-_Racine_J not in 2015
3 2012 Depth_(m)_2012_-_Racine_J not in 2016
3 2012 Depth_(m)_2012_-_Racine_J not in 2017
3 2012 Depth_(m)_2012_-_Racine_J not in 2018
3 2012 Depth_(m)_2012_-_Racine_J not in 2019
3 2012 Depth_(m)_2012_-_Racine_J not in 2020
3 2012 Depth_(m)_2012_-_Racine_J not in 2021
3 2012 Depth_(m)_2012_-_Racine_J not in 2022
3 2012 Depth_(m)_2012_-_Racine_J not in 2023
4 2013 Depth_(m)_2013_-_Racine_J not in 2009
4 2013 Depth_(m)_2013_-_Racine_J not in 2010
4 2013 Depth_(m)_2013_-_Racine_J not in 2011
4 2013 Depth_(m)_2013_-_Racine_J not in 2012
4 2013 Depth_(m)_2013_-_Racine_J not in 2014
4 2013 Depth_(m)_2013_-_Racine_J not in 2015
4 2013 Depth_(m)_2013_-_Racine_J not in 2016
4 2013 Depth_(m)_2013_-_Racine_J not in 2017
4 2013 Depth_(m)_2013_-_Racine_J not in 2018
4 2013 Depth_(m)_2013_-_Racine_J not in 2019
4 2013 Depth_(m)_2013_-_Racine_J not in 2020
4 2013 Depth_(m)_2013_-_Racine_J not in 2021
4 2013 Depth_(m)_2013_-_Racine_J not in 2022
4 2013 Depth_(m)_2013_-_Racine_J not in 2023
4 2013 Abundance_calcs not in 2009
4 2013 Abundance_calcs not in 2010
4 2013 Abundance_calcs not in 2011
4 2013 Abundance_calcs not in 2012
4 2013 Abundance_calcs not in 2014
4 2013 Abundance_calcs not in 2015
4 2013 Abundance_calcs not in 2016
4 2013 Abundance_calcs not in 2017
4 2013 Abundance_calcs not in 2018
4 2013 Abundance_calcs not in 2019
4 2013 Abundance_calcs not in 2020
4 2013 Abundance_calcs not in 2021
4 2013 Abundance_calcs not in 2022
4 2013 Abundance_calcs not in 2023
5 2014 Depth_(m)_2014_-_Racine_J not in 2009
5 2014 Depth_(m)_2014_-_Racine_J not in 2010
5 2014 Depth_(m)_2014_-_Racine_J not in 2011
5 2014 Depth_(m)_2014_-_Racine_J not in 2012
5 2014 Depth_(m)_2014_-_Racine_J not in 2013
5 2014 Depth_(m)_2014_-_Racine_J not in 2015
5 2014 Depth_(m)_2014_-_Racine_J not in 2016
5 2014 Depth_(m)_2014_-_Racine_J not in 2017
5 2014 Depth_(m)_2014_-_Racine_J not in 2018
5 2014 Depth_(m)_2014_-_Racine_J not in 2019
5 2014 Depth_(m)_2014_-_Racine_J not in 2020
5 2014 Depth_(m)_2014_-_Racine_J not in 2021
5 2014 Depth_(m)_2014_-_Racine_J not in 2022
5 2014 Depth_(m)_2014_-_Racine_J not in 2023
5 2014 Alisma_gramineum not in 2009
5 2014 Alisma_gramineum not in 2010
5 2014 Alisma_gramineum not in 2011
5 2014 Alisma_gramineum not in 2012
5 2014 Alisma_gramineum not in 2013
5 2014 Alisma_gramineum not in 2017
5 2014 Alisma_gramineum not in 2022
5 2014 Alisma_gramineum not in 2023
5 2014 Heteranthera_dubia not in 2009
5 2014 Heteranthera_dubia not in 2010
5 2014 Heteranthera_dubia not in 2011
5 2014 Heteranthera_dubia not in 2012
5 2014 Heteranthera_dubia not in 2013
5 2014 Hydrocharis_morsus-ranae not in 2009
5 2014 Hydrocharis_morsus-ranae not in 2010
5 2014 Hydrocharis_morsus-ranae not in 2011
5 2014 Hydrocharis_morsus-ranae not in 2012
5 2014 Hydrocharis_morsus-ranae not in 2013
5 2014 Hydrocharis_morsus-ranae not in 2022
5 2014 Zannichellia_palustris not in 2009
5 2014 Zannichellia_palustris not in 2010
5 2014 Zannichellia_palustris not in 2011
5 2014 Zannichellia_palustris not in 2012
5 2014 Zannichellia_palustris not in 2013
5 2014 Zannichellia_palustris not in 2015
5 2014 Zannichellia_palustris not in 2017
5 2014 Zannichellia_palustris not in 2018
5 2014 Zannichellia_palustris not in 2019
5 2014 Zannichellia_palustris not in 2020
5 2014 Zannichellia_palustris not in 2021
5 2014 Zannichellia_palustris not in 2022
5 2014 Zannichellia_palustris not in 2023
5 2014 Pithophora_sp. not in 2009
5 2014 Pithophora_sp. not in 2010
5 2014 Pithophora_sp. not in 2011
5 2014 Pithophora_sp. not in 2012
5 2014 Pithophora_sp. not in 2013
6 2015 Depth_(m)_2015_-_Racine_J not in 2009
6 2015 Depth_(m)_2015_-_Racine_J not in 2010
6 2015 Depth_(m)_2015_-_Racine_J not in 2011
6 2015 Depth_(m)_2015_-_Racine_J not in 2012
6 2015 Depth_(m)_2015_-_Racine_J not in 2013
6 2015 Depth_(m)_2015_-_Racine_J not in 2014
6 2015 Depth_(m)_2015_-_Racine_J not in 2016
6 2015 Depth_(m)_2015_-_Racine_J not in 2017
6 2015 Depth_(m)_2015_-_Racine_J not in 2018
6 2015 Depth_(m)_2015_-_Racine_J not in 2019
6 2015 Depth_(m)_2015_-_Racine_J not in 2020
6 2015 Depth_(m)_2015_-_Racine_J not in 2021
6 2015 Depth_(m)_2015_-_Racine_J not in 2022
6 2015 Depth_(m)_2015_-_Racine_J not in 2023
6 2015 Riccia_fluitans not in 2009
6 2015 Riccia_fluitans not in 2010
6 2015 Riccia_fluitans not in 2011
6 2015 Riccia_fluitans not in 2012
6 2015 Riccia_fluitans not in 2013
6 2015 Riccia_fluitans not in 2014
6 2015 Riccia_fluitans not in 2017
6 2015 Riccia_fluitans not in 2018
6 2015 Riccia_fluitans not in 2019
6 2015 Riccia_fluitans not in 2021
6 2015 Riccia_fluitans not in 2022
6 2015 Riccia_fluitans not in 2023
6 2015 Unnamed:_44 not in 2009
6 2015 Unnamed:_44 not in 2010
6 2015 Unnamed:_44 not in 2011
6 2015 Unnamed:_44 not in 2012
6 2015 Unnamed:_44 not in 2013
6 2015 Unnamed:_44 not in 2014
6 2015 Unnamed:_44 not in 2016
6 2015 Unnamed:_44 not in 2017
6 2015 Unnamed:_44 not in 2018
6 2015 Unnamed:_44 not in 2019
6 2015 Unnamed:_44 not in 2020
6 2015 Unnamed:_44 not in 2021
6 2015 Unnamed:_44 not in 2022
6 2015 Unnamed:_44 not in 2023
7 2016 Depth_(m)_2016_-_Racine_J not in 2009
7 2016 Depth_(m)_2016_-_Racine_J not in 2010
7 2016 Depth_(m)_2016_-_Racine_J not in 2011
7 2016 Depth_(m)_2016_-_Racine_J not in 2012
7 2016 Depth_(m)_2016_-_Racine_J not in 2013
7 2016 Depth_(m)_2016_-_Racine_J not in 2014
7 2016 Depth_(m)_2016_-_Racine_J not in 2015
7 2016 Depth_(m)_2016_-_Racine_J not in 2017
7 2016 Depth_(m)_2016_-_Racine_J not in 2018
7 2016 Depth_(m)_2016_-_Racine_J not in 2019
7 2016 Depth_(m)_2016_-_Racine_J not in 2020
7 2016 Depth_(m)_2016_-_Racine_J not in 2021
7 2016 Depth_(m)_2016_-_Racine_J not in 2022
7 2016 Depth_(m)_2016_-_Racine_J not in 2023
7 2016 Unnamed:_45 not in 2009
7 2016 Unnamed:_45 not in 2010
7 2016 Unnamed:_45 not in 2011
7 2016 Unnamed:_45 not in 2012
7 2016 Unnamed:_45 not in 2013
7 2016 Unnamed:_45 not in 2014
7 2016 Unnamed:_45 not in 2015
7 2016 Unnamed:_45 not in 2017
7 2016 Unnamed:_45 not in 2018
7 2016 Unnamed:_45 not in 2019
7 2016 Unnamed:_45 not in 2020
7 2016 Unnamed:_45 not in 2021
7 2016 Unnamed:_45 not in 2022
7 2016 Unnamed:_45 not in 2023
8 2017 Depth_(m)_2017_-_Racine_J not in 2009
8 2017 Depth_(m)_2017_-_Racine_J not in 2010
8 2017 Depth_(m)_2017_-_Racine_J not in 2011
8 2017 Depth_(m)_2017_-_Racine_J not in 2012
8 2017 Depth_(m)_2017_-_Racine_J not in 2013
8 2017 Depth_(m)_2017_-_Racine_J not in 2014
8 2017 Depth_(m)_2017_-_Racine_J not in 2015
8 2017 Depth_(m)_2017_-_Racine_J not in 2016
8 2017 Depth_(m)_2017_-_Racine_J not in 2018
8 2017 Depth_(m)_2017_-_Racine_J not in 2019
8 2017 Depth_(m)_2017_-_Racine_J not in 2020
8 2017 Depth_(m)_2017_-_Racine_J not in 2021
8 2017 Depth_(m)_2017_-_Racine_J not in 2022
8 2017 Depth_(m)_2017_-_Racine_J not in 2023
8 2017 Unnamed:_40 not in 2009
8 2017 Unnamed:_40 not in 2010
8 2017 Unnamed:_40 not in 2011
8 2017 Unnamed:_40 not in 2012
8 2017 Unnamed:_40 not in 2013
8 2017 Unnamed:_40 not in 2014
8 2017 Unnamed:_40 not in 2015
8 2017 Unnamed:_40 not in 2016
8 2017 Unnamed:_40 not in 2018
8 2017 Unnamed:_40 not in 2019
8 2017 Unnamed:_40 not in 2020
8 2017 Unnamed:_40 not in 2021
8 2017 Unnamed:_40 not in 2022
8 2017 Unnamed:_40 not in 2023
8 2017 Unnamed:_41 not in 2009
8 2017 Unnamed:_41 not in 2010
8 2017 Unnamed:_41 not in 2011
8 2017 Unnamed:_41 not in 2012
8 2017 Unnamed:_41 not in 2013
8 2017 Unnamed:_41 not in 2014
8 2017 Unnamed:_41 not in 2015
8 2017 Unnamed:_41 not in 2016
8 2017 Unnamed:_41 not in 2020
8 2017 Unnamed:_41 not in 2022
8 2017 Unnamed:_41 not in 2023
9 2018 Depth_(m)_2018_-_Racine_J not in 2009
9 2018 Depth_(m)_2018_-_Racine_J not in 2010
9 2018 Depth_(m)_2018_-_Racine_J not in 2011
9 2018 Depth_(m)_2018_-_Racine_J not in 2012
9 2018 Depth_(m)_2018_-_Racine_J not in 2013
9 2018 Depth_(m)_2018_-_Racine_J not in 2014
9 2018 Depth_(m)_2018_-_Racine_J not in 2015
9 2018 Depth_(m)_2018_-_Racine_J not in 2016
9 2018 Depth_(m)_2018_-_Racine_J not in 2017
9 2018 Depth_(m)_2018_-_Racine_J not in 2019
9 2018 Depth_(m)_2018_-_Racine_J not in 2020
9 2018 Depth_(m)_2018_-_Racine_J not in 2021
9 2018 Depth_(m)_2018_-_Racine_J not in 2022
9 2018 Depth_(m)_2018_-_Racine_J not in 2023
10 2019 Depth_(m)_2019_-_Racine_J not in 2009
10 2019 Depth_(m)_2019_-_Racine_J not in 2010
10 2019 Depth_(m)_2019_-_Racine_J not in 2011
10 2019 Depth_(m)_2019_-_Racine_J not in 2012
10 2019 Depth_(m)_2019_-_Racine_J not in 2013
10 2019 Depth_(m)_2019_-_Racine_J not in 2014
10 2019 Depth_(m)_2019_-_Racine_J not in 2015
10 2019 Depth_(m)_2019_-_Racine_J not in 2016
10 2019 Depth_(m)_2019_-_Racine_J not in 2017
10 2019 Depth_(m)_2019_-_Racine_J not in 2018
10 2019 Depth_(m)_2019_-_Racine_J not in 2020
10 2019 Depth_(m)_2019_-_Racine_J not in 2021
10 2019 Depth_(m)_2019_-_Racine_J not in 2022
10 2019 Depth_(m)_2019_-_Racine_J not in 2023
11 2020 Depth_(m)_2020_-_Racine_J not in 2009
11 2020 Depth_(m)_2020_-_Racine_J not in 2010
11 2020 Depth_(m)_2020_-_Racine_J not in 2011
11 2020 Depth_(m)_2020_-_Racine_J not in 2012
11 2020 Depth_(m)_2020_-_Racine_J not in 2013
11 2020 Depth_(m)_2020_-_Racine_J not in 2014
11 2020 Depth_(m)_2020_-_Racine_J not in 2015
11 2020 Depth_(m)_2020_-_Racine_J not in 2016
11 2020 Depth_(m)_2020_-_Racine_J not in 2017
11 2020 Depth_(m)_2020_-_Racine_J not in 2018
11 2020 Depth_(m)_2020_-_Racine_J not in 2019
11 2020 Depth_(m)_2020_-_Racine_J not in 2021
11 2020 Depth_(m)_2020_-_Racine_J not in 2022
11 2020 Depth_(m)_2020_-_Racine_J not in 2023
12 2021 Date_2021 not in 2009
12 2021 Date_2021 not in 2010
12 2021 Date_2021 not in 2011
12 2021 Date_2021 not in 2012
12 2021 Date_2021 not in 2013
12 2021 Date_2021 not in 2014
12 2021 Date_2021 not in 2015
12 2021 Date_2021 not in 2016
12 2021 Date_2021 not in 2017
12 2021 Date_2021 not in 2018
12 2021 Date_2021 not in 2019
12 2021 Date_2021 not in 2020
12 2021 Date_2021 not in 2022
12 2021 Date_2021 not in 2023
12 2021 Depth_(m)_2021_-_Racine_J not in 2009
12 2021 Depth_(m)_2021_-_Racine_J not in 2010
12 2021 Depth_(m)_2021_-_Racine_J not in 2011
12 2021 Depth_(m)_2021_-_Racine_J not in 2012
12 2021 Depth_(m)_2021_-_Racine_J not in 2013
12 2021 Depth_(m)_2021_-_Racine_J not in 2014
12 2021 Depth_(m)_2021_-_Racine_J not in 2015
12 2021 Depth_(m)_2021_-_Racine_J not in 2016
12 2021 Depth_(m)_2021_-_Racine_J not in 2017
12 2021 Depth_(m)_2021_-_Racine_J not in 2018
12 2021 Depth_(m)_2021_-_Racine_J not in 2019
12 2021 Depth_(m)_2021_-_Racine_J not in 2020
12 2021 Depth_(m)_2021_-_Racine_J not in 2022
12 2021 Depth_(m)_2021_-_Racine_J not in 2023
12 2021 Date not in 2009
12 2021 Date not in 2010
12 2021 Date not in 2011
12 2021 Date not in 2012
12 2021 Date not in 2013
12 2021 Date not in 2014
12 2021 Date not in 2015
12 2021 Date not in 2016
12 2021 Date not in 2017
12 2021 Date not in 2018
12 2021 Date not in 2019
12 2021 Date not in 2020
13 2022 Date_2022 not in 2009
13 2022 Date_2022 not in 2010
13 2022 Date_2022 not in 2011
13 2022 Date_2022 not in 2012
13 2022 Date_2022 not in 2013
13 2022 Date_2022 not in 2014
13 2022 Date_2022 not in 2015
13 2022 Date_2022 not in 2016
13 2022 Date_2022 not in 2017
13 2022 Date_2022 not in 2018
13 2022 Date_2022 not in 2019
13 2022 Date_2022 not in 2020
13 2022 Date_2022 not in 2021
13 2022 Date_2022 not in 2023
13 2022 Depth_(m)_2022 not in 2009
13 2022 Depth_(m)_2022 not in 2010
13 2022 Depth_(m)_2022 not in 2011
13 2022 Depth_(m)_2022 not in 2012
13 2022 Depth_(m)_2022 not in 2013
13 2022 Depth_(m)_2022 not in 2014

In [665]:
for year in table_a_years:
  print(len(all_a_dfs[year].columns))

85
85
85
85
85
85
85
85
85
85
85
85
85
85
85

In [666]:
for year in table_a_years:
  print(f'all_a_dfs[{year}], ')

all_a_dfs[2009],
all_a_dfs[2010],
all_a_dfs[2011],
all_a_dfs[2012],
all_a_dfs[2013],
all_a_dfs[2014],
all_a_dfs[2015],
all_a_dfs[2016],
all_a_dfs[2017],
all_a_dfs[2018],
all_a_dfs[2019],
all_a_dfs[2020],
all_a_dfs[2021],
all_a_dfs[2022],
all_a_dfs[2023],

In [667]:
table_a_df = pd.concat([all_a_dfs[2009], 
  all_a_dfs[2010], 
  all_a_dfs[2011], 
  all_a_dfs[2012], 
  all_a_dfs[2013], 
  all_a_dfs[2014], 
  all_a_dfs[2015], 
  all_a_dfs[2016], 
  all_a_dfs[2017], 
  all_a_dfs[2018], 
  all_a_dfs[2019], 
  all_a_dfs[2020], 
  all_a_dfs[2021], 
  all_a_dfs[2022], 
  all_a_dfs[2023]
])

In [668]:
table_a_df

,Unnamed: 0,Sample_Point_(SP),Rake_toss_#,Latitude,Longitude,Depth_(ft)_August_2008_-_Allied_Biological,Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson,Depth_(m)_Aug-Sept._2009_-_Racine_Johnson,Rake_Abundance,Callitriche_hermaphroditica,...,Date_2021,Depth_(m)_2021_-_Racine_J,Date,Date_2022,Depth_(m)_2022,Potamogeton_crispus_turions,Date_2023,Depth_(m)_2023,Juncus_sp.,Ludwigia_sp.
0,0,1,1.0,42.977680,75.886960,1.0,0.984252,0.3,D,1.0,...,None,NaN,None,None,None,NaN,None,None,NaN,NaN
1,1,1,2.0,42.977680,75.886960,NaN,NaN,NaN,D,1.0,...,None,NaN,None,None,None,NaN,None,None,NaN,NaN
2,3,2,1.0,42.977520,75.887213,1.0,1.640420,0.5,D,NaN,...,None,NaN,None,None,None,NaN,None,None,NaN,NaN
3,4,2,2.0,42.977520,75.887213,NaN,NaN,NaN,D,NaN,...,None,NaN,None,None,None,NaN,None,None,NaN,NaN
4,6,3,1.0,42.977661,75.887699,2.0,3.280840,1.0,M,NaN,...,None,NaN,None,None,None,NaN,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,599,302,2.0,42.961837,-75.872214,NaN,NaN,NaN,T,NaN,...,None,NaN,2023-08-31,None,None,NaN,2023-08-31,2.1,NaN,NaN
600,600,303,1.0,42.948490,-75.866480,NaN,NaN,NaN,S,NaN,...,None,NaN,2023-08-08,None,None,NaN,2023-08-08,2.6,NaN,NaN
601,601,303,2.0,42.948490,-75.866480,NaN,NaN,NaN,S,NaN,...,None,NaN,2023-08-08,None,None,NaN,2023-08-08,2.6,NaN,NaN
602,602,304,1.0,42.948360,-75.866510,NaN,NaN,NaN,O,NaN,...,None,NaN,2023-08-08,None,None,NaN,2023-08-08,2.8,NaN,NaN
603,603,304,2.0,42.948360,-75.866510,NaN,NaN,NaN,S,NaN,...,None,NaN,2023-08-08,None,None,NaN,2023-08-08,2.8,NaN,NaN

In [669]:
table_a_df.Year.unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022, 2023])

In [670]:
all_col_names = list(table_a_df.columns)
all_col_names.sort()
for col in all_col_names:
  print(f"'{col}',")

'Abundance_calcs',
'Alisma_gramineum',
'Benthic_Filamentous_Algae',
'Callitriche_hermaphroditica',
'Ceratophyllum_demersum',
'Chara_vulgaris',
'Date',
'Date_2021',
'Date_2022',
'Date_2023',
'Depth',
'Depth_(ft)_Aug-Sept._2009_-_Racine_Johnson',
'Depth_(ft)_August_2008_-_Allied_Biological',
'Depth_(m)_2009_-_Racine_J',
'Depth_(m)_2012_-_Racine_J',
'Depth_(m)_2013_-_Racine_J',
'Depth_(m)_2014_-_Racine_J',
'Depth_(m)_2015_-_Racine_J',
'Depth_(m)_2016_-_Racine_J',
'Depth_(m)_2017_-_Racine_J',
'Depth_(m)_2018_-_Racine_J',
'Depth_(m)_2019_-_Racine_J',
'Depth_(m)_2020_-_Racine_J',
'Depth_(m)_2021_-_Racine_J',
'Depth_(m)_2022',
'Depth_(m)_2023',
'Depth_(m)_Aug-Sept._2009_-_Racine_Johnson',
'Elodea_sp.',
'Floating_Filamentous_Algae',
'Fontinalis_sp.',
'Heteranthera_dubia',
'Hydrocharis_morsus-ranae',
'Hypericum_ellipticum',
'Juncus_sp.',
'Latitude',
'Lemna_minor',
'Lemna_trisulca',
'Longitude',
'Ludwigia_sp.',
'Megalodonta_beckii',
'Myriophyllum_sibiricum',
'Myriophyllum_spicatum',
'Najas_flexilis',
'Najas_guadalupensis',
'Nitella_flexilis',
'Nitellopsis_obtusa',
'Nuphar_variegata',
'Nymphaea_odorata',
'PERCENT',
'Pithophora_sp.',
'Polygonum_amphibium',
'Potamogeton_amplifolius',
'Potamogeton_crispus',
'Potamogeton_crispus_turions',
'Potamogeton_foliosus',
'Potamogeton_gramineus',
'Potamogeton_illinoensis',
'Potamogeton_praelongus',
'Potamogeton_pusillus',
'Potamogeton_richardsonii',
'Potamogeton_zosteriformis',
'Rake_Abundance',
'Rake_toss_#',
'Ranunculus_trichophyllus',
'Riccia_fluitans',
'Sample_Point_(SP)',
'Spirodela_polyrhiza',
'Stuckenia_pectinata',
'Stuckenia_vaginata',
'Unnamed: 0',
'Unnamed:_0',
'Unnamed:_40',
'Unnamed:_41',
'Unnamed:_42',
'Unnamed:_43',
'Unnamed:_44',
'Unnamed:_45',
'Unnamed:_46',
'Utricularia_vulgaris',
'Vallisneria_americana',
'Wolffia_columbiana',
'Year',
'Zannichellia_palustris',
'Zosterella_dubia',
'_',

In [671]:
cols_to_remove =  [
 'Unnamed: 0',
 'Unnamed:_0',
 'Unnamed:_40',
 'Unnamed:_41',
 'Unnamed:_42',
 'Unnamed:_43',
 'Unnamed:_44',
 'Unnamed:_45',
 'Unnamed:_46',
 '_'
]

In [672]:
for col in cols_to_remove:
  print(col, table_a_df[col].unique())

Unnamed: 0 [  0   1   3   4   6   7   9  10  12  13  15  16  18  19  21  22  24  25
  27  28  30  31  33  34  36  37  40  41  43  44  46  47  49  50  52  53
  55  56  58  59  61  62  64  65  67  68  70  71  73  74  76  77  80  81
  83  84  86  87  89  90  92  93  95  96  98  99 101 102 104 105 107 108
 110 111 113 114 116 117 120 121 123 124 126 127 129 130 132 133 135 136
 138 139 141 142 144 145 147 148 150 151 153 154 156 157 160 161 163 164
 166 167 169 170 172 173 175 176 178 179 181 182 184 185 187 188 190 191
 193 194 196 197 200 201 203 204 206 207 209 210 212 213 215 216 218 219
 221 222 224 225 227 228 230 231 233 234 236 237 240 241 243 244 246 247
 249 250 252 253 255 256 258 259 261 262 264 265 267 268 270 271 273 274
 276 277 280 281 283 284 286 287 289 290 292 293 295 296 298 299 301 302
 304 305 307 308 310 311 313 314 316 317 320 321 323 324 326 327 329 330
 332 333 335 336 338 339 341 342 344 345 347 348 350 351 353 354 356 357
 360 361 363 364 366 367 369 370 372 373 375 376 378 379 381 382 384 385
 387 388 390 391 393 394 396 397 400 401 403 404 406 407 409 410 412 413
 415 416 418 419 421 422 424 425 427 428 430 431 433 434 436 437 440 441
 443 444 446 447 449 450 452 453 455 456 458 459 461 462 464 465 467 468
 470 471 473 474 476 477 480 481 483 484 486 487 489 490 492 493 495 496
 498 499 501 502 504 505 507 508 510 511 513 514 516 517 520 521 523 524
 526 527 529 530 532 533 535 536 538 539 541 542 544 545 547 548 550 551
 553 554 556 557 560 561 563 564 566 567 569 570 572 573 575 576 578 579
 581 582 584 585 587 588 590 591 593 594 596 597 600 601 603 604 606 607
 609 610 612 613 615 616 618 619 621 622 624 625 627 628 630 631 633 634
 636 637 640 641 643 644 646 647 649 650 652 653 655 656 658 659 661 662
 664 665 667 668 670 671 673 674 676 677 680 681 683 684 686 687 689 690
 692 693 695 696 698 699 701 702 704 705 707 708 710 711 713 714 716 717
 720 721 723 724 726 727 729 730 732 733 735 736 738 739 741 742 744 745
 747 748 750 751 753 754 756 757 760 761 763 764 766 767 769 770 772 773
 775 776 778 779 781 782 784 785 787 788 790 791 793 794 796 797 800 801
 803 804 806 807 809 810 812 813 815 816 818 819 821 822 824 825 827 828
 830 831 833 834 836 837 840 841 843 844 846 847 849 850 852 853 855 856
 858 859 861 862 864 865 867 868 870 871 873 874 876 877 880 881 883 884
 886 887 889 890 892 893 895 896 898 899 901 902 904 905 907 908 910 911
 913 914 916 917 920 921 923 924 926 927 929 930 932 933  39  79  82 119
 122 125 159 162 165 168 199 202 205 208 211 239 242 245 248 251 254 279
 282 285 288 291 294 297 319 322 325 328 331 334 337 340 359 362 365 368
 371 374 377 380 383 399 402 405 408 411 414 417 420 423 426 439 442 445
 448 451 454 457 460 463 466 469 479 482 485 488 491 494 497 500 503 506
 509 512 519 522 525 528 531 534 537 540 543 546 549 552 555 559 562 565
 568 571 574 577 580 583 586 589 592 595 598 599 602 605 608 611 614 617
 620 623 626 629 632 635 638 639 642 645 648 651 654 657 660 663 666 669
 672 675 678 679 682 685 688 691 694 697 700 703 706 709 712 715 718 719
 722 725 728 731 734 737 740 743 746 749 752 755 758 759 762 765 768 771
 774 777 780 783 786 789 792 795 798 799 802 805 808 811 814 817 820 823
 826 829 832 835 838 839 842 845 848 851 854 857 860 863 866 869 872 875
 878 879 882 885 888 891 894 897 900 903 906 909 912 915 918 919 922 925
   2   5   8  11  14  17  20  23  26  29  32  35  38  42  45  48  51  54
  57  60  63  66  69  72  75  78  85  88  91  94  97 100 103 106 109 112
 115 118 128 131 134 137 140 143 146 149 152 155 158 171 174 177 180 183
 186 189 192 195 198 214 217 220 223 226 229 232 235 238 257 260 263 266
 269 272 275 278 300 303 306 309 312 315 318 343 346 349 352 355 358 386
 389 392 395 398 429 432 435 438 472 475 478 515 518 558 928 931]
Unnamed:_0 [None 'C11' 'C12' 'C21' 'C22' 'C31' 'C32' 'C41' 'C42' 'C51' 'C52' 'C61'
 'C62' 'C71' 'C72' 'C81' 'C82' 'C91' 'C92' 'C101' 'C102' 'C111' 'C112'
 'C121' 'C122' 'C131' 'C132' 'C141' 'C142' 'C151' 'C152' 'C161' 'C162'
 'C171' 'C172' 'C181' 'C182' 'C191' 'C192' 'C201' 'C202' 'C211' 'C212'
 'C221' 'C222' 'C231' 'C232' 'C241' 'C242' 'C251' 'C252' 'C261' 'C262'
 'C271' 'C272' 'C281' 'C282' 'C291' 'C292' 'C301' 'C302' 'C311' 'C312'
 'C321' 'C322' 'C331' 'C332' 'C341' 'C342' 'C351' 'C352' 'C361' 'C362'
 'C371' 'C372' 'C381' 'C382' 'C391' 'C392' 'C401' 'C402' 'C411' 'C412'
 'C421' 'C422' 'C431' 'C432' 'C441' 'C442' 'C451' 'C452' 'C461' 'C462'
 'C471' 'C472' 'C481' 'C482' 'C491' 'C492' 'C501' 'C502' 'C511' 'C512'
 'C521' 'C522' 'C531' 'C532' 'C541' 'C542' 'C551' 'C552' 'C561' 'C562'
 'C571' 'C572' 'C581' 'C582' 'C591' 'C592' 'C601' 'C602' 'C611' 'C612'
 'C621' 'C622' 'C631' 'C632' 'C641' 'C642' 'C651' 'C652' 'C661' 'C662'
 'C671' 'C672' 'C681' 'C682' 'C691' 'C692' 'C701' 'C702' 'C711' 'C712'
 'C721' 'C722' 'C731' 'C732' 'C741' 'C742' 'C751' 'C752' 'C761' 'C762'
 'C771' 'C772' 'C781' 'C782' 'C791' 'C792' 'C801' 'C802' 'C811' 'C812'
 'C821' 'C822' 'C831' 'C832' 'C841' 'C842' 'C851' 'C852' 'C861' 'C862'
 'C871' 'C872' 'C881' 'C882' 'C891' 'C892' 'C901' 'C902' 'C911' 'C912'
 'C921' 'C922' 'C931' 'C932' 'C941' 'C942' 'C951' 'C952' 'C961' 'C962'
 'C971' 'C972' 'C981' 'C982' 'C991' 'C992' 'C1001' 'C1002' 'C1011' 'C1012'
 'C1021' 'C1022' 'C1031' 'C1032' 'C1041' 'C1042' 'C1051' 'C1052' 'C1061'
 'C1062' 'C1071' 'C1072' 'C1081' 'C1082' 'C1091' 'C1092' 'C1101' 'C1102'
 'C1111' 'C1112' 'C1121' 'C1122' 'C1131' 'C1132' 'C1141' 'C1142' 'C1151'
 'C1152' 'C1161' 'C1162' 'C1171' 'C1172' 'C1181' 'C1182' 'C1191' 'C1192'
 'C1201' 'C1202' 'C1211' 'C1212' 'C1221' 'C1222' 'C1231' 'C1232' 'C1241'
 'C1242' 'C1251' 'C1252' 'C1261' 'C1262' 'C1271' 'C1272' 'C1281' 'C1282'
 'C1291' 'C1292' 'C1301' 'C1302' 'C1311' 'C1312' 'C1321' 'C1322' 'C1331'
 'C1332' 'C1341' 'C1342' 'C1351' 'C1352' 'C1361' 'C1362' 'C1371' 'C1372'
 'C1381' 'C1382' 'C1391' 'C1392' 'C1401' 'C1402' 'C1411' 'C1412' 'C1421'
 'C1422' 'C1431' 'C1432' 'C1441' 'C1442' 'C1451' 'C1452' 'C1461' 'C1462'
 'C1471' 'C1472' 'C1481' 'C1482' 'C1491' 'C1492' 'C1501' 'C1502' 'C1511'
 'C1512' 'C1521' 'C1522' 'C1531' 'C1532' 'C1541' 'C1542' 'C1551' 'C1552'
 'C1561' 'C1562' 'C1571' 'C1572' 'C1581' 'C1582' 'C1591' 'C1592' 'C1601'
 'C1602' 'C1611' 'C1612' 'C1621' 'C1622' 'C1631' 'C1632' 'C1641' 'C1642'
 'C1651' 'C1652' 'C1661' 'C1662' 'C1671' 'C1672' 'C1681' 'C1682' 'C1691'
 'C1692' 'C1701' 'C1702' 'C1711' 'C1712' 'C1721' 'C1722' 'C1731' 'C1732'
 'C1741' 'C1742' 'C1751' 'C1752' 'C1761' 'C1762' 'C1771' 'C1772' 'C1781'
 'C1782' 'C1791' 'C1792' 'C1801' 'C1802' 'C1811' 'C1812' 'C1821' 'C1822'
 'C1831' 'C1832' 'C1841' 'C1842' 'C1851' 'C1852' 'C1861' 'C1862' 'C1871'
 'C1872' 'C1881' 'C1882' 'C1891' 'C1892' 'C1901' 'C1902' 'C1911' 'C1912'
 'C1921' 'C1922' 'C1931' 'C1932' 'C1941' 'C1942' 'C1951' 'C1952' 'C1961'
 'C1962' 'C1971' 'C1972' 'C1981' 'C1982' 'C1991' 'C1992' 'C2001' 'C2002'
 'C2011' 'C2012' 'C2021' 'C2022' 'C2031' 'C2032' 'C2041' 'C2042' 'C2051'
 'C2052' 'C2061' 'C2062' 'C2071' 'C2072' 'C2081' 'C2082' 'C2091' 'C2092'
 'C2101' 'C2102' 'C2111' 'C2112' 'C2121' 'C2122' 'C2131' 'C2132' 'C2141'
 'C2142' 'C2151' 'C2152' 'C2161' 'C2162' 'C2171' 'C2172' 'C2181' 'C2182'
 'C2191' 'C2192' 'C2201' 'C2202' 'C2211' 'C2212' 'C2221' 'C2222' 'C2231'
 'C2232' 'C2241' 'C2242' 'C2251' 'C2252' 'C2261' 'C2262' 'C2271' 'C2272'
 'C2281' 'C2282' 'C2291' 'C2292' 'C2301' 'C2302' 'C2311' 'C2312' 'C2321'
 'C2322' 'C2331' 'C2332' 'C2341' 'C2342' 'C2351' 'C2352' 'C2361' 'C2362'
 'C2371' 'C2372' 'C2381' 'C2382' 'C2391' 'C2392' 'C2401' 'C2402' 'C2411'
 'C2412' 'C2421' 'C2422' 'C2431' 'C2432' 'C2441' 'C2442' 'C2451' 'C2452'
 'C2461' 'C2462' 'C2471' 'C2472' 'C2481' 'C2482' 'C2491' 'C2492' 'C2501'
 'C2502' 'C2511' 'C2512' 'C2521' 'C2522' 'C2531' 'C2532' 'C2541' 'C2542'
 'C2551' 'C2552' 'C2561' 'C2562' 'C2571' 'C2572' 'C2581' 'C2582' 'C2591'
 'C2592' 'C2601' 'C2602' 'C2611' 'C2612' 'C2621' 'C2622' 'C2631' 'C2632'
 'C2641' 'C2642' 'C2651' 'C2652' 'C2661' 'C2662' 'C2671' 'C2672' 'C2681'
 'C2682' 'C2691' 'C2692' 'C2701' 'C2702' 'C2711' 'C2712' 'C2721' 'C2722'
 'C2731' 'C2732' 'C2741' 'C2742' 'C2751' 'C2752' 'C2761' 'C2762' 'C2771'
 'C2772' 'C2781' 'C2782' 'C2791' 'C2792' 'C2801' 'C2802' 'C2811' 'C2812'
 'C2821' 'C2822' 'C2831' 'C2832' 'C2841' 'C2842' 'C2851' 'C2852' 'C2861'
 'C2862' 'C2871' 'C2872' 'C2881' 'C2882' 'C2891' 'C2892' 'C2901' 'C2902'
 'C2911' 'C2912' 'C2921' 'C2922' 'C2931' 'C2932' 'C2941' 'C2942' 'C2951'
 'C2952' 'C2961' 'C2962' 'C2971' 'C2972' 'C2981' 'C2982' 'C2991' 'C2992'
 'C3001' 'C3002' 'C3011' 'C3012' 'C3021' 'C3022' 'C3031' 'C3032' 'C3041'
 'C3042']
Unnamed:_40 [None nan]
Unnamed:_41 [None ' ' nan]
Unnamed:_42 [None nan 0.01 10.0 ' ']
Unnamed:_43 [nan None 2.0 0.01 5.0 ' ']
Unnamed:_44 [None nan]
Unnamed:_45 [None nan]
Unnamed:_46 [nan]
_ [None nan]

In [673]:
table_a_df['Sample_Point_(SP)'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70,
       71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87,
       88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, '1', '2', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28',
       '29', '30', '31', '32', '33', '34', '35', '36',
       '                                                     ', '37',
       '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
       '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70',
       '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81',
       '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92',
       '93', '94', '95', '96', '97', '98', '99', '100', '101', '102',
       '103', '104', '105', '106', '107', '108', '109', '110', '111',
       '112', '113', '114', '115', '116', '117', '118', '119', '120',
       '121', '122', '123', '124', '125', '126', '127', '128', '129',
       '130', '131', '132', '133', '134', '135', '136', '137', '138',
       '139', '140', '141', '142', '143', '144', '145', '146', '147',
       '148', '149', '150', '151', '152', '153', '154', '155', '156',
       '157', '158', '159', '160', '161', '162', '163', '164', '165',
       '166', '167', '168', '169', '170', '171', '172', '173', '174',
       '175', '176', '177', '178', '179', '180', '181', '182', '183',
       '184', '185', '186', '187', '188', '189', '190', '191', '192',
       '193', '194', '195', '196', '197', '198', '199', '200', '201',
       '202', '203', '204', '205', '206', '207', '208', '209', '210',
       '211', '212', '213', '214', '215', '216', '217', '218', '219',
       '220', '221', '222', '223', '224', '225', '226', '227', '228',
       '229', '230', '231', '232', '233', '234', '235', '236', '237',
       '238', '239', '240', '241', '242', '243', '244', '245', '246',
       '247', '248', '249', '250', '251', '252', '253', '254', '255',
       '256', '257', '258', '259', '260', '261', '262', '263', '264',
       '265', '266', '267', '268', '269', '270', '271', '272', '273',
       '274', '275', '276', '277', '278', '279', '280', '281', '282',
       '283', '284', '285', '286', '287', '288', '289', '290', '291',
       '292', '293', '294', '295', '296', '297', '298', '299', '300',
       '301', '302', '303', '304'], dtype=object)

In [674]:
# need to figure out what's going on with Sample Point column and the two unnamed 0 columns first
table_a_df.to_csv('output/All_Table_A.csv')

In [675]:
# create table b dataframes
table_b_years = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
all_b_dfs = {}

for year in table_b_years:
    df = pd.read_csv(f'output/table_B_{year}.csv')
    df['Year'] = year
    all_b_dfs[year] = df
all_b_dfs[2008].head()

,Unnamed: 0,excel_id,date,client_id,Sample_Point_(SP),Depth_(ft)_August_2008_-_Allied_Biological,Latitude,Longitude,Total_Submersed_Vegetation,Total_Floating_Vegetation,...,Vallisneria_americana,Potamogeton_gramineus,Potamogeton_praelongus,Megalodonta_beckii,Wolffia_columbiana,Fontinalis_sp.,Heteranthera_dubia,Ranunculus_trichophyllus,Nymphaea_odorata,Year
0,0,428,2008-09-18,C,1,1.0,42.977652,-75.887120,D,D,...,NaN,NaN,NaN,NaN,M,NaN,NaN,T,T,2008
1,1,430,2008-09-18,C,2,1.0,42.977520,-75.887213,M,S,...,NaN,NaN,NaN,NaN,S,NaN,T,T,T,2008
2,2,431,2008-09-18,C,3,2.0,42.977661,-75.887699,M,M,...,NaN,NaN,NaN,NaN,T,NaN,T,S,T,2008
3,3,432,2008-09-18,C,4,2.0,42.977674,-75.888337,D,S,...,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN,S,2008
4,4,433,2008-09-18,C,5,2.0,42.977542,-75.889355,D,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S,S,2008

In [676]:
all_b_dfs[2023] = all_b_dfs[2023].rename(columns={'Lemna_trisculca': 'Lemna_trisulca'})
all_b_dfs[2023].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Rake_Abundance',
       'Ceratophyllum_demersum', 'Chara_vulgaris', 'Elodea_sp.',
       'Fontinalis_sp.', 'Heteranthera_dubia', 'Hydrocharis_morsus-ranae',
       'Juncus_sp.', 'Lemna_minor', 'Lemna_trisulca', 'Ludwigia_sp.',
       'Megalodonta_beckii', 'Myriophyllum_sibiricum', 'Myriophyllum_spicatum',
       'Najas_flexilis', 'Najas_guadalupensis', 'Nitella_flexilis',
       'Nitellopsis_obtusa', 'Nuphar_variegata', 'Nymphaea_odorata',
       'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_crispus_turions', 'Potamogeton_foliosus',
       'Potamogeton_gramineus', 'Potamogeton_illinoensis',
       'Potamogeton_praelongus', 'Potamogeton_pusillus',
       'Potamogeton_richardsonii', 'Potamogeton_zosteriformis',
       'Ranunculus_trichophyllus', 'Spirodela_polyrhiza',
       'Stuckenia_pectinata', 'Utricularia_vulgaris', 'Vallisneria_americana',
       'Wolffia_columbiana', 'Pithophora_sp.', 'Year'],
      dtype='object')

In [677]:
all_b_dfs[2009] = all_b_dfs[2009].rename(columns={'Polygonam_amphibium': 'Polygonum_amphibium'})
all_b_dfs[2009] = all_b_dfs[2009].rename(columns={'Pithaphora_sp.': 'Pithophora_sp.'})
all_b_dfs[2009].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Rake_Abundance', 'Abundance_#', 'Callitriche_hermaphroditica',
       'Ceratophyllum_demersum', 'Chara_vulgaris', 'Elodea_sp.',
       'Fontinalis_sp.', 'Heteranthera_dubia', 'Hypericum_ellipticum',
       'Lemna_minor', 'Lemna_trisulca', 'Megalodonta_beckii',
       'Myriophyllum_sibiricum', 'Myriophyllum_spicatum', 'Najas_flexilis',
       'Najas_guadalupensis', 'Nitella_flexilis', 'Nitellopsis_obtusa',
       'Nuphar_variegata', 'Nymphaea_odorata', 'Polygonum_amphibium',
       'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Stuckenia_vaginata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Wolffia_columbiana',
       'Pithophora_sp.', 'Year'],
      dtype='object')

In [678]:
all_b_dfs[2012] = all_b_dfs[2012].rename(columns={'Spirodela_polyrhia': 'Spirodela_polyrhiza'})
all_b_dfs[2012].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Rake_Abundance', 'Rake_Abundance_#', 'Ceratophyllum_demersum',
       'Chara_vulgaris', 'Elodea_sp.', 'Fontinalis_sp.', 'Heteranthera_dubia',
       'Lemna_minor', 'Lemna_trisulca', 'Megalodonta_beckii',
       'Myriophyllum_sibiricum', 'Myriophyllum_spicatum', 'Najas_flexilis',
       'Najas_guadalupensis', 'Nitella_flexilis', 'Nitellopsis_obtusa',
       'Nuphar_variegata', 'Nymphaea_odorata', 'Potamogeton_amplifolius',
       'Potamogeton_crispus', 'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton__zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Stuckenia_vaginata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Wolffia_columbiana',
       'Pithaphora_sp.', 'Floating_Filamentous_Algae', 'Year'],
      dtype='object')

In [679]:
all_b_dfs[2008].columns

Index(['Unnamed: 0', 'excel_id', 'date', 'client_id', 'Sample_Point_(SP)',
       'Depth_(ft)_August_2008_-_Allied_Biological', 'Latitude', 'Longitude',
       'Total_Submersed_Vegetation', 'Total_Floating_Vegetation',
       'Callitriche_hermaphroditica', 'Potamogeton_amplifolius',
       'Benthic_Filamentous_Algae', 'Potamogeton_richardsonii',
       'Utricularia_vulgaris', 'Elodea_sp.', 'Ceratophyllum_demersum',
       'Potamogeton_crispus', 'Myriophyllum_spicatum',
       'Potamogeton_zosteriformis ', 'Floating_Filamentous_Algae',
       'Lemna_trisulca', 'Spirodela_polyrhiza', 'Potamogeton_illinoensis',
       'Potamogeton_foliosus', 'Chara_vulgaris', 'Potamogeton_pectinatus',
       'Najas_flexilis', 'Lemna_minor', 'Nuphar_variegata',
       'Vallisneria_americana', 'Potamogeton_gramineus',
       'Potamogeton_praelongus', 'Megalodonta_beckii', 'Wolffia_columbiana',
       'Fontinalis_sp.', 'Heteranthera_dubia', 'Ranunculus_trichophyllus',
       'Nymphaea_odorata', 'Year'],
      dtype='object')

In [680]:
all_b_dfs[2010] = all_b_dfs[2010].rename(columns={'Potamogeton__zosteriformis':
  'Potamogeton_zosteriformis'})
all_b_dfs[2010].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Rake_Abundance', 'Rake_Abundance_#', 'Ceratophyllum_demersum',
       'Chara_vulgaris', 'Elodea_sp.', 'Fontinalis_sp.', 'Heteranthera_dubia',
       'Lemna_minor', 'Lemna_trisulca', 'Megalodonta_beckii',
       'Myriophyllum_spicatum', 'Najas_flexilis', 'Najas_guadalupensis',
       'Nitella_flexilis', 'Nitellopsis_obtusa', 'Nuphar_variegata',
       'Nymphaea_odorata', 'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Stuckenia_vaginata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Wolffia_columbiana',
       'Pithaphora_sp.', 'Year'],
      dtype='object')

In [681]:
all_b_dfs[2011] = all_b_dfs[2011].rename(columns={'Potamogeton__zosteriformis':
  'Potamogeton_zosteriformis'})
all_b_dfs[2011].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Rake_Abundance', 'Rake_Abundance_#', 'Ceratophyllum_demersum',
       'Chara_vulgaris', 'Elodea_sp.', 'Fontinalis_sp.', 'Heteranthera_dubia',
       'Lemna_minor', 'Lemna_trisulca', 'Megalodonta_beckii',
       'Myriophyllum_sibiricum', 'Myriophyllum_spicatum', 'Najas_flexilis',
       'Najas_guadalupensis', 'Nitella_flexilis', 'Nitellopsis_obtusa',
       'Nuphar_variegata', 'Nymphaea_odorata', 'Potamogeton_amplifolius',
       'Potamogeton_crispus', 'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Stuckenia_vaginata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Wolffia_columbiana',
       'Pithaphora_sp.', 'Floating_Filamentous_Algae', 'Year'],
      dtype='object')

In [682]:
all_b_dfs[2012] = all_b_dfs[2012].rename(columns={'Potamogeton__zosteriformis':
  'Potamogeton_zosteriformis'})
all_b_dfs[2012].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Rake_Abundance', 'Rake_Abundance_#', 'Ceratophyllum_demersum',
       'Chara_vulgaris', 'Elodea_sp.', 'Fontinalis_sp.', 'Heteranthera_dubia',
       'Lemna_minor', 'Lemna_trisulca', 'Megalodonta_beckii',
       'Myriophyllum_sibiricum', 'Myriophyllum_spicatum', 'Najas_flexilis',
       'Najas_guadalupensis', 'Nitella_flexilis', 'Nitellopsis_obtusa',
       'Nuphar_variegata', 'Nymphaea_odorata', 'Potamogeton_amplifolius',
       'Potamogeton_crispus', 'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Stuckenia_vaginata',
       'Utricularia_vulgaris', 'Vallisneria_americana', 'Wolffia_columbiana',
       'Pithaphora_sp.', 'Floating_Filamentous_Algae', 'Year'],
      dtype='object')

In [683]:
all_b_dfs[2021] = all_b_dfs[2021].rename(columns={'Utricularia_sp.':
  'Utricularia_vulgaris'})
all_b_dfs[2021].columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Latitude', 'Longitude',
       'Rake_Abundance', 'Rake_Abundance_#', 'Alisma_gramineum',
       'Ceratophyllum_demersum', 'Chara_vulgaris', 'Elodea_sp.',
       'Fontinalis_sp.', 'Heteranthera_dubia', 'Hydrocharis_morsus-ranae',
       'Lemna_minor', 'Lemna_trisulca', 'Megalodonta_beckii',
       'Myriophyllum_spicatum', 'Najas_flexilis', 'Najas_guadalupensis',
       'Nitella_flexilis', 'Nitellopsis_obtusa', 'Nuphar_variegata',
       'Nymphaea_odorata', 'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_foliosus', 'Potamogeton_gramineus',
       'Potamogeton_illinoensis', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Spirodela_polyrhiza', 'Stuckenia_pectinata', 'Utricularia_vulgaris',
       'Vallisneria_americana', 'Wolffia_columbiana', 'Pithophora_sp.',
       'Year'],
      dtype='object')

In [684]:
all_b_dfs[2009]['Abundance_#'].unique()
# only year it's named this & has values in this column

array([4. , 3. , 2.5, 2. , 3.5, 1.5, 1. , 0.5, 0. ])

In [685]:
all_b_dfs[2009] = all_b_dfs[2009].rename(columns={'Abundance_#':
  'Rake_Abundance_#'})

In [686]:
all_b_dfs[2008]['Depth_(m)_August_2008_-_Allied_Biological'] = all_b_dfs[2008]['Depth_(ft)_August_2008_-_Allied_Biological']*0.3048

In [687]:
all_b_dfs[2008]

,Unnamed: 0,excel_id,date,client_id,Sample_Point_(SP),Depth_(ft)_August_2008_-_Allied_Biological,Latitude,Longitude,Total_Submersed_Vegetation,Total_Floating_Vegetation,...,Potamogeton_gramineus,Potamogeton_praelongus,Megalodonta_beckii,Wolffia_columbiana,Fontinalis_sp.,Heteranthera_dubia,Ranunculus_trichophyllus,Nymphaea_odorata,Year,Depth_(m)_August_2008_-_Allied_Biological
0,0,428,2008-09-18,C,1,1.0,42.977652,-75.887120,D,D,...,NaN,NaN,NaN,M,NaN,NaN,T,T,2008,0.3048
1,1,430,2008-09-18,C,2,1.0,42.977520,-75.887213,M,S,...,NaN,NaN,NaN,S,NaN,T,T,T,2008,0.3048
2,2,431,2008-09-18,C,3,2.0,42.977661,-75.887699,M,M,...,NaN,NaN,NaN,T,NaN,T,S,T,2008,0.6096
3,3,432,2008-09-18,C,4,2.0,42.977674,-75.888337,D,S,...,NaN,NaN,NaN,NaN,NaN,S,NaN,S,2008,0.6096
4,4,433,2008-09-18,C,5,2.0,42.977542,-75.889355,D,M,...,NaN,NaN,NaN,NaN,NaN,NaN,S,S,2008,0.6096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,297,726,2008-09-18,C,298,2.0,42.959125,-75.870077,M,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008,0.6096
298,298,727,2008-09-18,C,299,3.0,42.959650,-75.870627,D,NaN,...,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,2008,0.9144
299,299,728,2008-09-18,C,300,3.0,42.960420,-75.871387,D,NaN,...,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN,2008,0.9144
300,300,729,2008-09-18,C,301,3.0,42.961219,-75.871882,D,NaN,...,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008,0.9144
301,301,730,2008-09-18,C,302,4.0,42.961837,-75.872214,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008,1.2192

In [688]:
# Make the generated `Depth_(m)_August_2008_-_Allied_Biological` column from above into the 'Depth' column for 2008 to match with the Table A Depth column
all_b_dfs[2008]['Depth'] = all_b_dfs[2008]['Depth_(m)_August_2008_-_Allied_Biological']

In [689]:
for i, year in enumerate(table_b_years):
  year + i
  b_list = list(all_b_dfs[year].columns)
  for col_name in b_list:
    years_to_search = [yr for yr in table_b_years if yr != year]
    for search_year in years_to_search:
      if col_name not in list(all_b_dfs[search_year].columns):
        print(i, year, f'{col_name} not in {search_year}')
        all_b_dfs[search_year][col_name] = None

0 2008 excel_id not in 2009
0 2008 excel_id not in 2010
0 2008 excel_id not in 2011
0 2008 excel_id not in 2012
0 2008 excel_id not in 2013
0 2008 excel_id not in 2014
0 2008 excel_id not in 2015
0 2008 excel_id not in 2016
0 2008 excel_id not in 2017
0 2008 excel_id not in 2018
0 2008 excel_id not in 2019
0 2008 excel_id not in 2020
0 2008 excel_id not in 2021
0 2008 excel_id not in 2022
0 2008 excel_id not in 2023
0 2008 date not in 2009
0 2008 date not in 2010
0 2008 date not in 2011
0 2008 date not in 2012
0 2008 date not in 2013
0 2008 date not in 2014
0 2008 date not in 2015
0 2008 date not in 2016
0 2008 date not in 2017
0 2008 date not in 2018
0 2008 date not in 2019
0 2008 date not in 2020
0 2008 date not in 2021
0 2008 date not in 2022
0 2008 date not in 2023
0 2008 client_id not in 2009
0 2008 client_id not in 2010
0 2008 client_id not in 2011
0 2008 client_id not in 2012
0 2008 client_id not in 2013
0 2008 client_id not in 2014
0 2008 client_id not in 2015
0 2008 client_id not in 2016
0 2008 client_id not in 2017
0 2008 client_id not in 2018
0 2008 client_id not in 2019
0 2008 client_id not in 2020
0 2008 client_id not in 2021
0 2008 client_id not in 2022
0 2008 client_id not in 2023
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2009
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2010
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2011
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2012
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2013
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2014
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2015
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2016
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2017
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2018
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2019
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2020
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2021
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2022
0 2008 Depth_(ft)_August_2008_-_Allied_Biological not in 2023
0 2008 Latitude not in 2022
0 2008 Latitude not in 2023
0 2008 Longitude not in 2022
0 2008 Longitude not in 2023
0 2008 Total_Submersed_Vegetation not in 2009
0 2008 Total_Submersed_Vegetation not in 2010
0 2008 Total_Submersed_Vegetation not in 2011
0 2008 Total_Submersed_Vegetation not in 2012
0 2008 Total_Submersed_Vegetation not in 2013
0 2008 Total_Submersed_Vegetation not in 2014
0 2008 Total_Submersed_Vegetation not in 2015
0 2008 Total_Submersed_Vegetation not in 2016
0 2008 Total_Submersed_Vegetation not in 2017
0 2008 Total_Submersed_Vegetation not in 2018
0 2008 Total_Submersed_Vegetation not in 2019
0 2008 Total_Submersed_Vegetation not in 2020
0 2008 Total_Submersed_Vegetation not in 2021
0 2008 Total_Submersed_Vegetation not in 2022
0 2008 Total_Submersed_Vegetation not in 2023
0 2008 Total_Floating_Vegetation not in 2009
0 2008 Total_Floating_Vegetation not in 2010
0 2008 Total_Floating_Vegetation not in 2011
0 2008 Total_Floating_Vegetation not in 2012
0 2008 Total_Floating_Vegetation not in 2013
0 2008 Total_Floating_Vegetation not in 2014
0 2008 Total_Floating_Vegetation not in 2015
0 2008 Total_Floating_Vegetation not in 2016
0 2008 Total_Floating_Vegetation not in 2017
0 2008 Total_Floating_Vegetation not in 2018
0 2008 Total_Floating_Vegetation not in 2019
0 2008 Total_Floating_Vegetation not in 2020
0 2008 Total_Floating_Vegetation not in 2021
0 2008 Total_Floating_Vegetation not in 2022
0 2008 Total_Floating_Vegetation not in 2023
0 2008 Callitriche_hermaphroditica not in 2010
0 2008 Callitriche_hermaphroditica not in 2011
0 2008 Callitriche_hermaphroditica not in 2012
0 2008 Callitriche_hermaphroditica not in 2013
0 2008 Callitriche_hermaphroditica not in 2014
0 2008 Callitriche_hermaphroditica not in 2015
0 2008 Callitriche_hermaphroditica not in 2016
0 2008 Callitriche_hermaphroditica not in 2017
0 2008 Callitriche_hermaphroditica not in 2018
0 2008 Callitriche_hermaphroditica not in 2019
0 2008 Callitriche_hermaphroditica not in 2020
0 2008 Callitriche_hermaphroditica not in 2021
0 2008 Callitriche_hermaphroditica not in 2022
0 2008 Callitriche_hermaphroditica not in 2023
0 2008 Benthic_Filamentous_Algae not in 2009
0 2008 Benthic_Filamentous_Algae not in 2010
0 2008 Benthic_Filamentous_Algae not in 2011
0 2008 Benthic_Filamentous_Algae not in 2012
0 2008 Benthic_Filamentous_Algae not in 2013
0 2008 Benthic_Filamentous_Algae not in 2014
0 2008 Benthic_Filamentous_Algae not in 2015
0 2008 Benthic_Filamentous_Algae not in 2016
0 2008 Benthic_Filamentous_Algae not in 2017
0 2008 Benthic_Filamentous_Algae not in 2018
0 2008 Benthic_Filamentous_Algae not in 2019
0 2008 Benthic_Filamentous_Algae not in 2020
0 2008 Benthic_Filamentous_Algae not in 2021
0 2008 Benthic_Filamentous_Algae not in 2022
0 2008 Benthic_Filamentous_Algae not in 2023
0 2008 Potamogeton_richardsonii not in 2018
0 2008 Potamogeton_zosteriformis  not in 2009
0 2008 Potamogeton_zosteriformis  not in 2010
0 2008 Potamogeton_zosteriformis  not in 2011
0 2008 Potamogeton_zosteriformis  not in 2012
0 2008 Potamogeton_zosteriformis  not in 2013
0 2008 Potamogeton_zosteriformis  not in 2014
0 2008 Potamogeton_zosteriformis  not in 2015
0 2008 Potamogeton_zosteriformis  not in 2016
0 2008 Potamogeton_zosteriformis  not in 2017
0 2008 Potamogeton_zosteriformis  not in 2018
0 2008 Potamogeton_zosteriformis  not in 2019
0 2008 Potamogeton_zosteriformis  not in 2020
0 2008 Potamogeton_zosteriformis  not in 2021
0 2008 Potamogeton_zosteriformis  not in 2022
0 2008 Potamogeton_zosteriformis  not in 2023
0 2008 Floating_Filamentous_Algae not in 2009
0 2008 Floating_Filamentous_Algae not in 2010
0 2008 Floating_Filamentous_Algae not in 2013
0 2008 Floating_Filamentous_Algae not in 2014
0 2008 Floating_Filamentous_Algae not in 2015
0 2008 Floating_Filamentous_Algae not in 2016
0 2008 Floating_Filamentous_Algae not in 2017
0 2008 Floating_Filamentous_Algae not in 2018
0 2008 Floating_Filamentous_Algae not in 2019
0 2008 Floating_Filamentous_Algae not in 2020
0 2008 Floating_Filamentous_Algae not in 2021
0 2008 Floating_Filamentous_Algae not in 2022
0 2008 Floating_Filamentous_Algae not in 2023
0 2008 Spirodela_polyrhiza not in 2013
0 2008 Spirodela_polyrhiza not in 2022
0 2008 Potamogeton_pectinatus not in 2009
0 2008 Potamogeton_pectinatus not in 2010
0 2008 Potamogeton_pectinatus not in 2011
0 2008 Potamogeton_pectinatus not in 2012
0 2008 Potamogeton_pectinatus not in 2013
0 2008 Potamogeton_pectinatus not in 2014
0 2008 Potamogeton_pectinatus not in 2015
0 2008 Potamogeton_pectinatus not in 2016
0 2008 Potamogeton_pectinatus not in 2017
0 2008 Potamogeton_pectinatus not in 2018
0 2008 Potamogeton_pectinatus not in 2019
0 2008 Potamogeton_pectinatus not in 2020
0 2008 Potamogeton_pectinatus not in 2021
0 2008 Potamogeton_pectinatus not in 2022
0 2008 Potamogeton_pectinatus not in 2023
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2009
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2010
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2011
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2012
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2013
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2014
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2015
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2016
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2017
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2018
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2019
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2020
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2021
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2022
0 2008 Depth_(m)_August_2008_-_Allied_Biological not in 2023
0 2008 Depth not in 2009
0 2008 Depth not in 2010
0 2008 Depth not in 2011
0 2008 Depth not in 2012
0 2008 Depth not in 2013
0 2008 Depth not in 2014
0 2008 Depth not in 2015
0 2008 Depth not in 2016
0 2008 Depth not in 2017
0 2008 Depth not in 2018
0 2008 Depth not in 2019
0 2008 Depth not in 2020
0 2008 Depth not in 2021
0 2008 Depth not in 2022
0 2008 Depth not in 2023
1 2009 Rake_Abundance not in 2008
1 2009 Rake_Abundance_# not in 2008
1 2009 Rake_Abundance_# not in 2022
1 2009 Rake_Abundance_# not in 2023
1 2009 Hypericum_ellipticum not in 2008
1 2009 Hypericum_ellipticum not in 2010
1 2009 Hypericum_ellipticum not in 2011
1 2009 Hypericum_ellipticum not in 2012
1 2009 Hypericum_ellipticum not in 2013
1 2009 Hypericum_ellipticum not in 2014
1 2009 Hypericum_ellipticum not in 2015
1 2009 Hypericum_ellipticum not in 2016
1 2009 Hypericum_ellipticum not in 2017
1 2009 Hypericum_ellipticum not in 2018
1 2009 Hypericum_ellipticum not in 2019
1 2009 Hypericum_ellipticum not in 2020
1 2009 Hypericum_ellipticum not in 2021
1 2009 Hypericum_ellipticum not in 2022
1 2009 Hypericum_ellipticum not in 2023
1 2009 Myriophyllum_sibiricum not in 2008
1 2009 Myriophyllum_sibiricum not in 2010
1 2009 Myriophyllum_sibiricum not in 2017
1 2009 Myriophyllum_sibiricum not in 2021
1 2009 Najas_guadalupensis not in 2008
1 2009 Nitella_flexilis not in 2008
1 2009 Nitellopsis_obtusa not in 2008
1 2009 Polygonum_amphibium not in 2008
1 2009 Polygonum_amphibium not in 2010
1 2009 Polygonum_amphibium not in 2011
1 2009 Polygonum_amphibium not in 2012
1 2009 Polygonum_amphibium not in 2013
1 2009 Polygonum_amphibium not in 2014
1 2009 Polygonum_amphibium not in 2016
1 2009 Polygonum_amphibium not in 2019
1 2009 Polygonum_amphibium not in 2020
1 2009 Polygonum_amphibium not in 2021
1 2009 Polygonum_amphibium not in 2022
1 2009 Polygonum_amphibium not in 2023
1 2009 Potamogeton_pusillus not in 2008
1 2009 Potamogeton_zosteriformis not in 2008
1 2009 Stuckenia_pectinata not in 2008
1 2009 Stuckenia_vaginata not in 2008
1 2009 Stuckenia_vaginata not in 2017
1 2009 Stuckenia_vaginata not in 2018
1 2009 Stuckenia_vaginata not in 2019
1 2009 Stuckenia_vaginata not in 2020
1 2009 Stuckenia_vaginata not in 2021
1 2009 Stuckenia_vaginata not in 2023
1 2009 Pithophora_sp. not in 2008
1 2009 Pithophora_sp. not in 2010
1 2009 Pithophora_sp. not in 2011
1 2009 Pithophora_sp. not in 2012
1 2009 Pithophora_sp. not in 2013
2 2010 Pithaphora_sp. not in 2008
2 2010 Pithaphora_sp. not in 2009
2 2010 Pithaphora_sp. not in 2014
2 2010 Pithaphora_sp. not in 2015
2 2010 Pithaphora_sp. not in 2016
2 2010 Pithaphora_sp. not in 2017
2 2010 Pithaphora_sp. not in 2018
2 2010 Pithaphora_sp. not in 2019
2 2010 Pithaphora_sp. not in 2020
2 2010 Pithaphora_sp. not in 2021
2 2010 Pithaphora_sp. not in 2022
2 2010 Pithaphora_sp. not in 2023
5 2013 Spirodela_polyrhia not in 2008
5 2013 Spirodela_polyrhia not in 2009
5 2013 Spirodela_polyrhia not in 2010
5 2013 Spirodela_polyrhia not in 2011
5 2013 Spirodela_polyrhia not in 2012
5 2013 Spirodela_polyrhia not in 2014
5 2013 Spirodela_polyrhia not in 2015
5 2013 Spirodela_polyrhia not in 2016
5 2013 Spirodela_polyrhia not in 2017
5 2013 Spirodela_polyrhia not in 2018
5 2013 Spirodela_polyrhia not in 2019
5 2013 Spirodela_polyrhia not in 2020
5 2013 Spirodela_polyrhia not in 2021
5 2013 Spirodela_polyrhia not in 2022
5 2013 Spirodela_polyrhia not in 2023
6 2014 Alisma_gramineum not in 2008
6 2014 Alisma_gramineum not in 2009
6 2014 Alisma_gramineum not in 2010
6 2014 Alisma_gramineum not in 2011
6 2014 Alisma_gramineum not in 2012
6 2014 Alisma_gramineum not in 2013
6 2014 Alisma_gramineum not in 2017
6 2014 Alisma_gramineum not in 2022
6 2014 Alisma_gramineum not in 2023
6 2014 Hydrocharis_morsus-ranae not in 2008
6 2014 Hydrocharis_morsus-ranae not in 2009
6 2014 Hydrocharis_morsus-ranae not in 2010
6 2014 Hydrocharis_morsus-ranae not in 2011
6 2014 Hydrocharis_morsus-ranae not in 2012
6 2014 Hydrocharis_morsus-ranae not in 2013
6 2014 Hydrocharis_morsus-ranae not in 2022
6 2014 Zannichellia_palustris not in 2008
6 2014 Zannichellia_palustris not in 2009
6 2014 Zannichellia_palustris not in 2010
6 2014 Zannichellia_palustris not in 2011
6 2014 Zannichellia_palustris not in 2012
6 2014 Zannichellia_palustris not in 2013
6 2014 Zannichellia_palustris not in 2015
6 2014 Zannichellia_palustris not in 2017
6 2014 Zannichellia_palustris not in 2018
6 2014 Zannichellia_palustris not in 2019
6 2014 Zannichellia_palustris not in 2020
6 2014 Zannichellia_palustris not in 2021
6 2014 Zannichellia_palustris not in 2022
6 2014 Zannichellia_palustris not in 2023
7 2015 Riccia_fluitans not in 2008
7 2015 Riccia_fluitans not in 2009
7 2015 Riccia_fluitans not in 2010
7 2015 Riccia_fluitans not in 2011
7 2015 Riccia_fluitans not in 2012
7 2015 Riccia_fluitans not in 2013
7 2015 Riccia_fluitans not in 2014
7 2015 Riccia_fluitans not in 2017
7 2015 Riccia_fluitans not in 2018
7 2015 Riccia_fluitans not in 2019
7 2015 Riccia_fluitans not in 2021
7 2015 Riccia_fluitans not in 2022
7 2015 Riccia_fluitans not in 2023
8 2016 Unnamed:_42 not in 2008
8 2016 Unnamed:_42 not in 2009
8 2016 Unnamed:_42 not in 2010
8 2016 Unnamed:_42 not in 2011
8 2016 Unnamed:_42 not in 2012
8 2016 Unnamed:_42 not in 2013
8 2016 Unnamed:_42 not in 2014
8 2016 Unnamed:_42 not in 2015
8 2016 Unnamed:_42 not in 2017
8 2016 Unnamed:_42 not in 2018
8 2016 Unnamed:_42 not in 2019
8 2016 Unnamed:_42 not in 2020
8 2016 Unnamed:_42 not in 2021
8 2016 Unnamed:_42 not in 2022
8 2016 Unnamed:_42 not in 2023
8 2016 Unnamed:_43 not in 2008
8 2016 Unnamed:_43 not in 2009
8 2016 Unnamed:_43 not in 2010
8 2016 Unnamed:_43 not in 2011
8 2016 Unnamed:_43 not in 2012
8 2016 Unnamed:_43 not in 2013
8 2016 Unnamed:_43 not in 2014
8 2016 Unnamed:_43 not in 2015
8 2016 Unnamed:_43 not in 2017
8 2016 Unnamed:_43 not in 2018
8 2016 Unnamed:_43 not in 2019
8 2016 Unnamed:_43 not in 2020
8 2016 Unnamed:_43 not in 2021
8 2016 Unnamed:_43 not in 2022
8 2016 Unnamed:_43 not in 2023
8 2016 Unnamed:_44 not in 2008
8 2016 Unnamed:_44 not in 2009
8 2016 Unnamed:_44 not in 2010
8 2016 Unnamed:_44 not in 2011
8 2016 Unnamed:_44 not in 2012
8 2016 Unnamed:_44 not in 2013
8 2016 Unnamed:_44 not in 2014
8 2016 Unnamed:_44 not in 2015
8 2016 Unnamed:_44 not in 2017
8 2016 Unnamed:_44 not in 2018
8 2016 Unnamed:_44 not in 2019
8 2016 Unnamed:_44 not in 2020
8 2016 Unnamed:_44 not in 2021
8 2016 Unnamed:_44 not in 2022
8 2016 Unnamed:_44 not in 2023
14 2022 Potamogeton_crispus_turions not in 2008
14 2022 Potamogeton_crispus_turions not in 2009
14 2022 Potamogeton_crispus_turions not in 2010
14 2022 Potamogeton_crispus_turions not in 2011
14 2022 Potamogeton_crispus_turions not in 2012
14 2022 Potamogeton_crispus_turions not in 2013
14 2022 Potamogeton_crispus_turions not in 2014
14 2022 Potamogeton_crispus_turions not in 2015
14 2022 Potamogeton_crispus_turions not in 2016
14 2022 Potamogeton_crispus_turions not in 2017
14 2022 Potamogeton_crispus_turions not in 2018
14 2022 Potamogeton_crispus_turions not in 2019
14 2022 Potamogeton_crispus_turions not in 2020
14 2022 Potamogeton_crispus_turions not in 2021
15 2023 Juncus_sp. not in 2008
15 2023 Juncus_sp. not in 2009
15 2023 Juncus_sp. not in 2010
15 2023 Juncus_sp. not in 2011
15 2023 Juncus_sp. not in 2012
15 2023 Juncus_sp. not in 2013
15 2023 Juncus_sp. not in 2014
15 2023 Juncus_sp. not in 2015
15 2023 Juncus_sp. not in 2016
15 2023 Juncus_sp. not in 2017
15 2023 Juncus_sp. not in 2018
15 2023 Juncus_sp. not in 2019
15 2023 Juncus_sp. not in 2020
15 2023 Juncus_sp. not in 2021
15 2023 Juncus_sp. not in 2022
15 2023 Ludwigia_sp. not in 2008
15 2023 Ludwigia_sp. not in 2009
15 2023 Ludwigia_sp. not in 2010
15 2023 Ludwigia_sp. not in 2011
15 2023 Ludwigia_sp. not in 2012
15 2023 Ludwigia_sp. not in 2013
15 2023 Ludwigia_sp. not in 2014
15 2023 Ludwigia_sp. not in 2015
15 2023 Ludwigia_sp. not in 2016
15 2023 Ludwigia_sp. not in 2017
15 2023 Ludwigia_sp. not in 2018
15 2023 Ludwigia_sp. not in 2019
15 2023 Ludwigia_sp. not in 2020
15 2023 Ludwigia_sp. not in 2021
15 2023 Ludwigia_sp. not in 2022

In [690]:
for year in table_b_years:
  print(len(all_b_dfs[year].columns))

67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67

In [691]:
table_b_df = pd.concat([all_b_dfs[2008], all_b_dfs[2009], 
  all_b_dfs[2010], 
  all_b_dfs[2011], 
  all_b_dfs[2012], 
  all_b_dfs[2013], 
  all_b_dfs[2014], 
  all_b_dfs[2015], 
  all_b_dfs[2016], 
  all_b_dfs[2017], 
  all_b_dfs[2018], 
  all_b_dfs[2019], 
  all_b_dfs[2020], 
  all_b_dfs[2021], 
  all_b_dfs[2022], 
  all_b_dfs[2023]
])

In [692]:
table_b_df

,Unnamed: 0,excel_id,date,client_id,Sample_Point_(SP),Depth_(ft)_August_2008_-_Allied_Biological,Latitude,Longitude,Total_Submersed_Vegetation,Total_Floating_Vegetation,...,Alisma_gramineum,Hydrocharis_morsus-ranae,Zannichellia_palustris,Riccia_fluitans,Unnamed:_42,Unnamed:_43,Unnamed:_44,Potamogeton_crispus_turions,Juncus_sp.,Ludwigia_sp.
0,0,428,2008-09-18,C,1,1.0,42.977652,-75.887120,D,D,...,None,None,None,None,None,None,None,None,None,None
1,1,430,2008-09-18,C,2,1.0,42.977520,-75.887213,M,S,...,None,None,None,None,None,None,None,None,None,None
2,2,431,2008-09-18,C,3,2.0,42.977661,-75.887699,M,M,...,None,None,None,None,None,None,None,None,None,None
3,3,432,2008-09-18,C,4,2.0,42.977674,-75.888337,D,S,...,None,None,None,None,None,None,None,None,None,None
4,4,433,2008-09-18,C,5,2.0,42.977542,-75.889355,D,M,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,297,None,None,None,300,NaN,NaN,NaN,None,None,...,None,NaN,None,None,None,None,None,NaN,NaN,NaN
298,298,None,None,None,301,NaN,NaN,NaN,None,None,...,None,NaN,None,None,None,None,None,NaN,NaN,NaN
299,299,None,None,None,302,NaN,NaN,NaN,None,None,...,None,NaN,None,None,None,None,None,NaN,NaN,NaN
300,300,None,None,None,303,NaN,NaN,NaN,None,None,...,None,NaN,None,None,None,None,None,NaN,NaN,NaN
301,301,None,None,None,304,NaN,NaN,NaN,None,None,...,None,NaN,None,None,None,None,None,NaN,NaN,NaN

In [693]:
all_col_names_b = list(table_b_df.columns)
all_col_names_b.sort()
for col in all_col_names_b:
  print(f"'{col}',")

'Alisma_gramineum',
'Benthic_Filamentous_Algae',
'Callitriche_hermaphroditica',
'Ceratophyllum_demersum',
'Chara_vulgaris',
'Depth',
'Depth_(ft)_August_2008_-_Allied_Biological',
'Depth_(m)_August_2008_-_Allied_Biological',
'Elodea_sp.',
'Floating_Filamentous_Algae',
'Fontinalis_sp.',
'Heteranthera_dubia',
'Hydrocharis_morsus-ranae',
'Hypericum_ellipticum',
'Juncus_sp.',
'Latitude',
'Lemna_minor',
'Lemna_trisulca',
'Longitude',
'Ludwigia_sp.',
'Megalodonta_beckii',
'Myriophyllum_sibiricum',
'Myriophyllum_spicatum',
'Najas_flexilis',
'Najas_guadalupensis',
'Nitella_flexilis',
'Nitellopsis_obtusa',
'Nuphar_variegata',
'Nymphaea_odorata',
'Pithaphora_sp.',
'Pithophora_sp.',
'Polygonum_amphibium',
'Potamogeton_amplifolius',
'Potamogeton_crispus',
'Potamogeton_crispus_turions',
'Potamogeton_foliosus',
'Potamogeton_gramineus',
'Potamogeton_illinoensis',
'Potamogeton_pectinatus',
'Potamogeton_praelongus',
'Potamogeton_pusillus',
'Potamogeton_richardsonii',
'Potamogeton_zosteriformis',
'Potamogeton_zosteriformis ',
'Rake_Abundance',
'Rake_Abundance_#',
'Ranunculus_trichophyllus',
'Riccia_fluitans',
'Sample_Point_(SP)',
'Spirodela_polyrhia',
'Spirodela_polyrhiza',
'Stuckenia_pectinata',
'Stuckenia_vaginata',
'Total_Floating_Vegetation',
'Total_Submersed_Vegetation',
'Unnamed: 0',
'Unnamed:_42',
'Unnamed:_43',
'Unnamed:_44',
'Utricularia_vulgaris',
'Vallisneria_americana',
'Wolffia_columbiana',
'Year',
'Zannichellia_palustris',
'client_id',
'date',
'excel_id',

In [694]:
removal_list_b = [ 'Unnamed: 0',
 'Unnamed:_42',
 'Unnamed:_43',
 'Unnamed:_44', 'excel_id']
for col in removal_list_b:
  print(col, table_b_df[col].unique())

Unnamed: 0 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 303 304 306 307
 308 302 305 309 310 311 312]
Unnamed:_42 [None nan]
Unnamed:_43 [None nan ' ']
Unnamed:_44 [None nan ' ']
excel_id [428 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446
 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464
 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482
 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500
 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518
 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536
 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554
 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572
 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590
 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608
 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626
 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644
 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662
 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680
 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698
 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716
 717 718 719 720 721 722 723 724 725 726 727 728 729 730 None]

In [695]:
#  need to figure out unnamed 0 and excel id
table_b_df.to_csv('output/All_Table_B.csv')

In [704]:
# B: Year, Sample Point, Latitude, Longitude, Rake Abundance, Rake Abundance #, Plant Names Alpha
final_abundance_df = table_b_df[[
  'Sample_Point_(SP)',
  'Year',
  'Latitude',
  'Longitude',
  'Depth',
  'Rake_Abundance',
  'Rake_Abundance_#',
  'Alisma_gramineum', 
  'Benthic_Filamentous_Algae', 
  'Callitriche_hermaphroditica', 
  'Ceratophyllum_demersum', 
  'Chara_vulgaris', 
  'Elodea_sp.', 
  'Floating_Filamentous_Algae', 
  'Fontinalis_sp.', 
  'Heteranthera_dubia', 
  'Hydrocharis_morsus-ranae', 
  'Hypericum_ellipticum',
  'Lemna_minor', 
  'Lemna_trisulca', 
  'Megalodonta_beckii', 
  'Myriophyllum_sibiricum', 
  'Myriophyllum_spicatum', 
  'Najas_flexilis', 
  'Najas_guadalupensis', 
  'Nitella_flexilis', 
  'Nitellopsis_obtusa', 
  'Nuphar_variegata', 
  'Nymphaea_odorata', 
  'Pithophora_sp.', 
  'Polygonum_amphibium', 
  'Potamogeton_amplifolius', 
  'Potamogeton_crispus', 
  'Potamogeton_crispus_turions', 
  'Potamogeton_foliosus', 
  'Potamogeton_gramineus', 
  'Potamogeton_illinoensis', 
  'Potamogeton_pectinatus',
  'Potamogeton_praelongus', 
  'Potamogeton_pusillus', 
  'Potamogeton_richardsonii', 
  'Potamogeton_zosteriformis', 
  'Ranunculus_trichophyllus', 
  'Riccia_fluitans', 
  'Spirodela_polyrhiza', 
  'Stuckenia_pectinata', 
  'Stuckenia_vaginata', 
  'Utricularia_vulgaris', 
  'Vallisneria_americana', 
  'Wolffia_columbiana', 
  'Zannichellia_palustris'
]].copy()

In [705]:
final_abundance_df

,Sample_Point_(SP),Year,Latitude,Longitude,Depth,Rake_Abundance,Rake_Abundance_#,Alisma_gramineum,Benthic_Filamentous_Algae,Callitriche_hermaphroditica,...,Potamogeton_zosteriformis,Ranunculus_trichophyllus,Riccia_fluitans,Spirodela_polyrhiza,Stuckenia_pectinata,Stuckenia_vaginata,Utricularia_vulgaris,Vallisneria_americana,Wolffia_columbiana,Zannichellia_palustris
0,1,2008,42.977652,-75.887120,0.3048,None,NaN,None,S,T,...,None,T,None,M,None,None,M,NaN,M,None
1,2,2008,42.977520,-75.887213,0.3048,None,NaN,None,T,NaN,...,None,T,None,NaN,None,None,NaN,NaN,S,None
2,3,2008,42.977661,-75.887699,0.6096,None,NaN,None,NaN,NaN,...,None,S,None,NaN,None,None,T,NaN,T,None
3,4,2008,42.977674,-75.888337,0.6096,None,NaN,None,NaN,NaN,...,None,NaN,None,NaN,None,None,NaN,NaN,NaN,None
4,5,2008,42.977542,-75.889355,0.6096,None,NaN,None,NaN,NaN,...,None,S,None,NaN,None,None,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,300,2023,NaN,NaN,NaN,M,NaN,None,None,None,...,T,NaN,None,NaN,T,None,NaN,T,NaN,None
298,301,2023,NaN,NaN,NaN,M,NaN,None,None,None,...,T,NaN,None,NaN,T,None,T,T,NaN,None
299,302,2023,NaN,NaN,NaN,T,NaN,None,None,None,...,T,NaN,None,NaN,NaN,None,NaN,T,NaN,None
300,303,2023,NaN,NaN,NaN,S,NaN,None,None,None,...,T,NaN,None,NaN,NaN,None,NaN,NaN,NaN,None
301,304,2023,NaN,NaN,NaN,S,NaN,None,None,None,...,T,NaN,None,NaN,NaN,None,NaN,NaN,NaN,None

In [706]:
final_abundance_df.to_csv('output/Final_Abundance_2008_2023.csv')

In [699]:
# A: Year, Sample Point, Latitude, Longitude, Depth (mult?), Rake Abundance, Rake Toss #, Plant Names Alpha
final_percent_df = table_a_df[[
  # "Unnamed: 0", 
  "Sample_Point_(SP)", 
  "Year", 
  "Date",
  "Rake_toss_#", 
  "Latitude", 
  "Longitude", 
  "Depth",
  "Rake_Abundance", 
  "PERCENT", 
  "Alisma_gramineum", 
  "Benthic_Filamentous_Algae", 
  "Callitriche_hermaphroditica", 
  "Ceratophyllum_demersum", 
  "Chara_vulgaris", 
  "Elodea_sp.", 
  "Floating_Filamentous_Algae", 
  "Fontinalis_sp.", 
  "Heteranthera_dubia", 
  "Hydrocharis_morsus-ranae", 
  "Hypericum_ellipticum",
  "Juncus_sp.", 
  "Lemna_minor", 
  "Lemna_trisulca", 
  "Ludwigia_sp.",
  "Megalodonta_beckii", 
  "Myriophyllum_sibiricum", 
  "Myriophyllum_spicatum", 
  "Najas_flexilis", 
  "Najas_guadalupensis", 
  "Nitella_flexilis", 
  "Nitellopsis_obtusa", 
  "Nuphar_variegata", 
  "Nymphaea_odorata", 
  "Pithophora_sp.", 
  "Polygonum_amphibium", 
  "Potamogeton_amplifolius", 
  "Potamogeton_crispus", 
  "Potamogeton_crispus_turions", 
  "Potamogeton_foliosus", 
  "Potamogeton_gramineus", 
  "Potamogeton_illinoensis", 
  "Potamogeton_praelongus", 
  "Potamogeton_pusillus", 
  "Potamogeton_richardsonii", 
  "Potamogeton_zosteriformis", 
  "Ranunculus_trichophyllus", 
  "Riccia_fluitans", 
  "Spirodela_polyrhiza", 
  "Stuckenia_pectinata", 
  "Stuckenia_vaginata", 
  "Utricularia_vulgaris", 
  "Vallisneria_americana", 
  "Wolffia_columbiana", 
  "Zannichellia_palustris", 
  "Zosterella_dubia", 
  "Abundance_calcs", # put at end
]].copy()

In [700]:
table_a_df["Date_2021"].unique()

array([None, '2021-08-17 00:00:00', '2021-08-12 00:00:00',
       '2021-08-18 00:00:00', '2021-08-11 00:00:00',
       '2021-08-10 00:00:00'], dtype=object)

In [701]:
table_a_df["Date_2022"].unique()

array([None, '2022-08-25', '2022-08-24', '2022-08-16', '2022-08-17',
       '2022-08-18', '2022-08-15', '2022-08-22', '2022-08-12'],
      dtype=object)

In [702]:
table_a_df["Date_2023"].unique()

array([None, '2023-08-11', '2023-08-14', '2023-08-23', '2023-09-01',
       '2023-08-31', '2023-08-24', '2023-08-08', '2023-08-07'],
      dtype=object)

In [703]:
final_percent_df.to_csv('output/Final_Percent_2008_2023.csv')